<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}

.acc_info li{
	list-style-type:none;
	line-height:30px;
	font-size:14pt;

}
.op{
	color:gray;
	font-size:12pt;
	cursor:pointer;
}
.perm_title{
	float:left;
	width:350px;
	margin-right:20px;
}

</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="账户管理" href2="acc#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">基本信息</div>
			<div class="separator"></div>
			<input type="hidden" value="{$rid}" id="rid1" />
			<div class="acc_info">
				<ul>
					<li>
						<div>账号：{$raccount}</div>
					</li>
					<li>
						<div>密码：******
						<?php if(session('rid')==1 || session('rid')==$rid){ ?>
						&nbsp;&nbsp;&nbsp;<span id="btn_reset_password" class="op">重置密码为000000</span>
						<?php } ?>
						</div>
					</li>
					<li>
						<div>昵称：{$rnickname}</div>
					</li>
					<li>
						<div>创建时间：{$rcreated_time}</div>
					</li>
					<li>
						<div>最后登录：{$lgtime}</div>
					</li>
					<li>
						<div>登录次数：{$login_count}</div>
					</li>
					<li>
						<div><span>账号状态：{$rstate_name}<span>
							<?php if(session('?rid')&&session('rid')<=10){if($rstate == 0){ ?>
							<span>&nbsp;&nbsp;<span class="op" onclick="set_restrict(0,{$rid});">限制登录</span></span>
							<?php } else if($rstate == 10) { ?>
							<span>&nbsp;&nbsp;<span class="op" onclick="set_restrict(1,{$rid});">解除限制</span></span>
							<?php }} ?>
						</div>
					</li>
				</ul>
			</div>



<?php 

	$perm_array = array(
		array('是否允许创建老师账号',$mpcreate_teacher),
		array('是否允许创建资讯',$mpcreate_news),
		array('是否允许创建活动',$mpcreate_act),
		array('是否允许创建拔尖计划成果',$mpcreate_plan_project),
		array('是否允许编辑本校高校联盟信息',$mpedit_league_college),
		array('是否允许创建通知',$mpcreate_notice),
		array('是否允许审核交流札记',$mpcheck_ex_note),
		array('是否允许创建留学动态',$mpcreate_ex_trend),
		array('是否允许交换项目信息',$mpcreate_ex_project),
		array('是否允许审核课件',$mpcheck_courseware),
		array('是否允许创建帖子主题',$mpcreate_topic),
		array('是否允许发布帖子',$mpcreate_post),
		array('是否允许回复帖子',$mpcreate_reply),
		array('是否允许发送站内信',$mpcreate_msg),
		array('是否允许管理师生权限',$mpmanager_user),
		array('是否允许管理帖子及回复',$mpmanager_bbs)
	);
 ?>
			<div class="center_title">权限信息</div>
			<div class="separator"></div>
			<div class="acc_info">
				<ul>
					<?php foreach ($perm_array as $key) { ?>
					<li>
						<div class="perm_title">{$key[0]}</div><div><?php echo ($key[1]==1?"是":"否") ?></div>
					</li>
					<?php } ?>
				</ul>
			</div>
		</div>


	</div>
</div>

<script type="text/javascript">
function set_restrict(state,rid){
	var url = '__ROOT__/Home/Bbs/acc_restrict';
	$.ajax({
		url:url,
		data:{state:state,rid:rid},
		dataType:'json',
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					window.location.reload();
				});
			} else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
$(document).ready(function(){
	$('#btn_reset_password').click(function(){
		var url = '__ROOT__/Home/Bbs/acc_reset_password';
		var oldtext = $('#btn_reset_password').text();
		$('#btn_reset_password').text('正在重置密码……');
		$.ajax({
			url:url,
			data:{rid:$('#rid1').val()},
			dataType:'json',
			success:function(t,s,r){
				$('#btn_reset_password').text(oldtext);
				if(t.result == 0){
					cdialog.show_info('操作成功！',function(){
						window.location.reload();
					});
				} else{
					cdialog.show_alert('操作失败！错误信息：'+t.msg);
				}
			},
			error:function(t){eds_framework.error_handler(url,t);}
		});
	});
});
</script>