<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}
.reply_list,.msg_list{
	margin-top: 10px;
}
.reply_item, .msg_item{
	font-size: 12pt;
	line-height: 40px;
}
.op{
	font-size: 12pt;float:right;
}
.time{
	font-size: 10pt;
	padding:5px;
	color:gray;
}
a{
	color:black;!important;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" title2="社区动态" href2="#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="reply_list_div">
			<div class="center_title">帖子动态</div>
			<div class="separator"></div>
			<div class="reply_list">
				<?php if(count($event_list) == 0){ ?>
					<div style="text-align:center">你暂时还没有帖子动态哦！</div>
				<?php } ?>
				<volist name="event_list" id="event_vo">
					<div class="reply_item">
						<span>
							<span>
								<span class="time">{$event_vo.vcreated_time}</span>
								<a href="__ROOT__{$event_vo.vurl}" target="_blank" title="{$event_vo.rnickname}">
								<?php
									if(mb_strlen($event_vo['rnickname'],'utf8') <= 6){
										echo $event_vo['rnickname'];
									} else {
										echo mb_substr($event_vo['rnickname'],0,4,'utf8')."……";
									}
								?>
								</a>
							</span>
							在帖子“<a title="{$event_vo.vtitle}" href="__ROOT__{$event_vo.vurl}">
								<?php
									if(mb_strlen($event_vo['vtitle']) < 10){
										echo $event_vo['vtitle'];
									} else {
										echo mb_substr($event_vo['vtitle'],0,10,'utf8')."……";
									}
								?>
							</a>”中回复了你<span>
						</span>
						</span>
						<span class="op">
							<span onclick="ev_ignore({$event_vo.vid})" class="clickable" title="不再显示此条消息">
								忽略
							</span>&nbsp;|&nbsp;
							<span onclick="ev_check('{$event_vo.vurl}',{$event_vo.vid},'{$event_vo.vkey}');" class="clickable">
								查看
							</span>
						</span>
					</div>
				</volist>
			</div>
			<div class="pages" style="margin:20px 0;text-align:center;display:none;">这里是分页</div>
		</div>




		<div class="msg_list_div" style="margin-top:20px;">
			<div class="center_title">站内信</div>
			<div class="separator"></div><!--
			<div class="msg_list">
				
				<div class="msg_item">
					<span>
						<span><span class="time">2014-08-28 16:31:22</span><a href="__ROOT__/Home/Bbs/center?uid=1#start" target="_blank">张三</a>向你发送了站内信“<a href="#">这里是标题</a>”</span>
					</span>
					<span class="op">
						<span onclick="" class="clickable" title="不再显示此条消息">忽略</span>&nbsp;|&nbsp;<span onclick="" class="clickable">查看</span>
					</span>
				</div>
				<div class="msg_item">
					<span>
						<span><span class="time">2014-08-28 16:31:22</span><a href="__ROOT__/Home/Bbs/center?uid=1#start" target="_blank">张三</a>向你发送了站内信“<a href="#">这里是标题</a>”</span>
					</span>
					<span class="op">
						<span onclick="" class="clickable" title="不再显示此条消息">忽略</span>&nbsp;|&nbsp;<span onclick="" class="clickable">查看</span>
					</span>
				</div>
			</div>
			<div class="pages" style="margin:20px 0;text-align:center;">这里是分页</div>-->

				<include file="./Application/Home/View/waiting.html" />
		</div>
	</div>
</div>

<script type="text/javascript">
function ev_ignore(vid){
	var url = '__ROOT__/Home/Bbs/ev_ignore';
	//alert($('#raccount1').val());return;
	$.ajax({
		url:url,
		dataType:'json',
		type:'post',
		data:{vid:vid},
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					window.location.href="__ROOT__/Home/Bbs/center";
				});
			}else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){
			eds_framework.error_handler(url,t);
		}
	});
}
function ev_check(url,vid,vkey){
	var index = url.indexOf('#');
	var baseurl = url;
	var a = '';
	if(index > 0){
		baseurl = url.substr(0,index);
		a = url.substr(index);
	}
	window.location.href="__ROOT__"+baseurl+"&vid="+vid+"&vkey="+vkey+a;
}
</script>