<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: blod;
	padding: 5px 10px;
}
.state{
	font-size:10pt;
}
.op{
	float:right;
	font-size: 12pt;
}
.cw_item{
	line-height: 30px;
	font-size: 14pt;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="课程课件" href2="#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">课程列表</div>
			<div class="separator"></div>
			<div class="ex_note_list">

				<volist name="course_list" id="course_vo" key="k" >
					<div class="cw_item">
						<span class="op">
							<span class="datetime">{$course_vo.fcreated_time}</span>&nbsp;
							<span>修改</span>&nbsp;
							<span><a href="cw_dtl?fid={$course_vo.fid}#start">查看</a></span>&nbsp;
							<span>删除</span>
						</span>
						<div>
							<a href="cw_dtl?fid={$course_vo.fid}#start">{$course_vo.fname}</a>
							（{$course_vo.fterm_name}）
							<span class="state">({$course_vo.fstate_name})</span>
						</div>
					</div>
				</volist>


				<div class="cw_item">
					<include file="./Application/Home/View/control_btn.html" text="添加" />
				</div>

			</div>
		</div>


	</div>
</div>