<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 16pt;
	font-weight: bolder;
	padding: 5px 10px;
}
.cw_info_item{
	float: left;
	line-height: 40px;
	font-size: 12pt;
	margin-left: 20px;
}
.item-odd{
	width:250px;
}
.item-even{
	width:330px;
}
.state{
	font-size:10pt;
}
.op{
	float:right;
	font-size: 12pt;
}
.cw_item{
	line-height: 30px;
	font-size: 14pt;
}
.cw_title{
	margin: 8px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block" display3="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="课程课件" href2="__ROOT__/Home/Bbs/cw#start" title3="课程详情" href3="#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">{$fname}</div>
			<div class="cw_info" style="height:100px;">
				<div class="cw_info_item item-odd">任课老师：{$fteacher}</div>
				<div class="cw_info_item item-even">面向年级：{$fgrade}级</div>
				<div class="cw_info_item item-odd">上课地点：{$faddr}</div>
				<div class="cw_info_item item-even">开课学期：{$fterm_name}</div>
			</div>

			<div class="separator"></div>
			<div class="cw_list">
				<div class="cw_item">
					<div class="op">
						<span>2014-08-08 15:45:29</span>&nbsp;
						<span>删除</span>
					</div>
					<div class="cw_title">
						<a href="__ROOT__/Home/Course/download?eid=1#start">物理力学第一章1.1</a>
					</div>
				</div>
				<div class="cw_item">
					<span class="op">
						<span>2014-08-08 15:45:29</span>&nbsp;
						<span>删除</span>
					</span>
					<div class="cw_title">
						<a href="__ROOT__/Home/Course/download?eid=1#start">物理力学第一章1.2</a>
					</div>
				</div>
				<div class="cw_item">
					<span class="op">
						<span>2014-08-08 15:45:29</span>&nbsp;
						<span>删除</span>
					</span>
					<div class="cw_title">
						<a href="__ROOT__/Home/Course/download?eid=1#start">物理力学第一章1.3</a>
					</div>
				</div>
			</div>
			<include file="./Application/Home/View/control_btn.html" id="btn_cw_upload" text="上传课件" style="margin:20px 0;" />
		</div>


	</div>
</div>