<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<link rel="stylesheet" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
<style>


</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="交流札记" href2="__ROOT__/Home/Bbs/ex_note#start" />
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="">
			<div>
				<span>标题</span>
				<span>
					<input type="hidden" id="zid" value="{$zid}" />
					<input type="text" id="ztitle" class="form-control" placeholder="title input" value="{$ztitle}" />
				</span>
			</div>
			<div>
				<span>封面</span>
				<div class="title" style="text-align:center;">
					<img id="zflag_show" 
					<?php if($zflag==''){ ?>
						src="__PUBLIC__/assets/image/ex_note_default.png"
					<?php } else { ?>
						id="zflag_show" src="__PUBLIC__/uploads{$tflag}"
					<?php } ?> 
					width="156px" height="198px" style="margin:10px 0;" />
					<input type="hidden" id="zflag" name="zflag" value="{$zflag}" />
					<form method="post" enctype="multipart/form-data">
						<input type="file" id="zflag_input" name="zflag_input" onchange="upload_flag()" class="form-control" />
					</form>
				</div>
			</div>
			<div>
				<span>内容</span>
				<span>
					<textarea name="zcontent" class="form-control" style="width:100%;height:400px;visibility:hidden;">{$zcontent}</textarea>
				</span>
			</div>
		</div>
		<div style="margin:50px;">
			<include file="./Application/Home/View/control_btn.html" id="btn_save" text="暂存" />
			<include file="./Application/Home/View/control_btn.html" id="btn_submit" text="提交" />
		</div>
	</div>
</div>

<script type="text/javascript">
<include file="./Application/Home/View/control_editor.html" editor="editor" name="zcontent" />

function upload_flag(){
	//$('#tflag_input').attr('disabled',true);
	//alert('change');
	$.ajaxFileUpload({
		url:'__ROOT__/Home/Bbs/post_img_upload',
		secureuri:false,
		fileElementId:'zflag_input',
		dataType: 'json',
		data:{},
		success: function (data, status){
			if(data.result == 0){
				$('#zflag_show').attr('src', '__PUBLIC__/uploads'+data.flag);
				$('#zflag').val(data.flag);
				$('#zflag_input').val('');
			} else {
				cdialog.show_alert('封面上传失败！错误信息：'+data.msg);
			}
			//$('#tflag_input').attr('disabled',false);
		},
		error: function (data, status, e){
			cdialog.show_alert(e);
			//$('#tflag_input').attr('disabled',false);
		}
	});
}
function handle_submit(elem,psubmit){
	var url = '__ROOT__/Home/Bbs/ex_note_save';
	$(elem).attr('disabled',true);
	$.ajax({
		url:url,
		dataType:'json',
		type:'post',
		data:{
			zid:$('#zid').val(),
			ztitle:$('#ztitle').val(),
			zflag:$('#zflag').val(),
			zsubmit:psubmit,
			zsummary:editor.text().substr(0,100),
			zcontent:editor.html()
		},
		success:function(t,s,r){
			if(t.result==0){
				cdialog.show_info('操作成功！',function(){
					window.location.href="__ROOT__/Home/Bbs/ex_note#start";
				});
			}else {
				cdialog.show_alert('操作失败！错误消息:'+t.msg);
			}
			$(elem).attr('disabled',false);
		},
		error:function(t){
			eds_framework.error_handler(url,t);
			$(elem).attr('disabled',false);
		}
	});
}
$(document).ready(function(){
	$('#btn_save').click(function(){handle_submit('#btn_save',0);});
	$('#btn_submit').click(function(){handle_submit('#btn_submit',1);});
});

</script>