<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}
.state{
	font-size:10pt;
}
.op{
	float:right;
	font-size: 12pt;
}
.post_item{
	line-height: 30px;
	font-size: 14pt;
}
.time{
	font-size: 10pt;
	color: gray;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="留学动态" href2="__ROOT__/Home/Bbs/ex_trend#start" />

	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">留学动态</div>
			<div class="separator"></div>
			<div class="ex_note_list">
				<volist name="ex_trend_list" id="ex_trend_vo" key="k">
					<div class="post_item">
						<span class="op">
							<span class="time">{$ex_trend_vo.zcreated_time}</span>&nbsp;
							<span><a href="__ROOT__/Home/Bbs/ex_trend_edit?zid={$ex_trend_vo.zid}#start" style="color:black;" title="修改“{$ex_trend_vo['ztitle']}”">修改</a></span>&nbsp;
							<span><a href="__ROOT__/Home/Ex/detail?zid={$ex_trend_vo.zid}#start" style="color:black;" title="查看“{$ex_trend_vo['ztitle']}”">查看</a></span>&nbsp;
							<span onclick="ex_delete(this,{$ex_trend_vo.zid},'{$ex_trend_vo.ztitle}')" style="cursor:pointer;" title="删除“{$ex_trend_vo['ztitle']}”">删除</span>
						</span>
						<div>
							<span title="{$ex_trend_vo.ztitle}">
								<?php if(mb_strlen($ex_trend_vo['ztitle'],'utf8')>17
									&& strlen($ex_trend_vo['ztitle'])-mb_strlen($ex_trend_vo['ztitle'],'utf8')>mb_strlen($ex_trend_vo['ztitle'],'utf8')-17){ 
									echo mb_substr($ex_trend_vo['ztitle'], 0,16,'utf8')."……";
								}else{
									echo $ex_trend_vo['ztitle'];
								} ?>
							</span>
							<span class="state">({$ex_trend_vo.zstate_name})</span>
						</div>
					</div>
				</volist>
			</div>
		</div>
		<div style="margin:50px;">
			<include file="./Application/Home/View/control_btn.html" text="添加" id="btn_add" />
		</div>
	</div>
</div>

<script type="text/javascript">
function ex_delete(elem,zid,ztitle){
	if(!eds_framework.confirm('','您确定要删除“'+ztitle+'”吗？')){
		return;
	}
	var url = '__ROOT__/Home/Bbs/ex_del';
	$.ajax({
		url:url,
		dataType:'json',
		type:'post',
		data:{
			zid:zid
		},
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					$(elem).parent().parent().hide();
				});
			}else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
function ex_note_top(zid,ptop,ztitle){
	var url = '__ROOT__/Home/Bbs/ex_top';
	$.ajax({
		url:url,
		dataType:'json',
		type:'post',
		data:{
			zid:zid,
			ztop:ptop
		},
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					window.location.reload();
				});
			}else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
$(document).ready(function(){
	$('#btn_add').click(function(){
		window.location.href="__ROOT__/Home/Bbs/ex_trend_edit?zid=-1#start";
	});
});
</script>