<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />


<style>
.bbs_nav{
}
.post_list{
	clear:both;
	width:775px;
}
.post_list,.topn_list{
	margin-top: 20px;
}
.post_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	margin-bottom: 0;
	
}
.post_item, .topn_item{
	height: 110px;
}
.post_item .title{
	padding-top: 20px;
	padding-left: 100px;
	margin-bottom: 20px;
	font-size: 14pt;
	font-weight: bold;
}
.post_item .by{
	padding-left: 100px;
	font-size: 12pt;
	padding-bottom: 10px;
}
.topn_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	padding:20px 5px;
}
.no_title{
	height:56px;
}
.no_span{
	color:red;
}
.no{
	font-weight: bold;
}
.ac{
	color:black;
	font-size: 10pt;
	text-align:right;
	padding: 8px 0 2px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;width:1024px;">
	<div style="width:800px;float:left;">
		<div class="bbs_nav">
			<div style="margin-bottom:10px;">
				<a href="__ROOT__/Home/Bbs/post_list?cid=1"><img src="__PUBLIC__/assets/image/bbs_nav_1.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
				<a href="__ROOT__/Home/Bbs/post_list?cid=2"><img src="__PUBLIC__/assets/image/bbs_nav_2.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
				<a href="__ROOT__/Home/Bbs/post_list?cid=3"><img src="__PUBLIC__/assets/image/bbs_nav_3.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
			</div>
			<div>
				<a href="__ROOT__/Home/Bbs/post_list?cid=4"><img src="__PUBLIC__/assets/image/bbs_nav_4.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
				<a href="__ROOT__/Home/Bbs/post_list?cid=5"><img src="__PUBLIC__/assets/image/bbs_nav_5.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
				<a href="__ROOT__/Home/Bbs/post_list?cid=6"><img src="__PUBLIC__/assets/image/bbs_nav_6.png" width="250px" height="102px;" style="margin-right:10px;" /></a>
			</div>
		</div>

		<div class="post_list">

			<volist name="post_list" id="post_vo" key="k">
				<div class="post_item">
					<span style="top:10px;left:10px;position:relative;float:left;">
						<img src="__PUBLIC__{$post_vo.rhead_photo}" width="79px" height="79px" />
					</span>
					<div>
						<div class="title">
							<?php if($post_vo['tstate'] == 20/*置顶*/){ ?>
								<a href="__ROOT__/Home/Bbs/post_dtl?tid={$post_vo.tid}#start" style="color:red;">[置顶]{$post_vo.ttitle}</a>
							<?php } else { ?>
								<a href="__ROOT__/Home/Bbs/post_dtl?tid={$post_vo.tid}#start" style="color:black;">{$post_vo.ttitle}</a>
							<?php } ?>		
						</div>
						<div class="by">
							<span>{$post_vo.ucollege}</span>
							<span>{$post_vo.rnickname}</span>
							<span>&nbsp;</span>
							<span>于<span>{$post_vo.tcreated_time}</span></span>
							<span>{$post_vo.cname}</span>
						</div>
					</div>
				</div>
			</volist>

		</div>
	</div>


	<div style="padding-left:800px;">
		<include file="./Application/Home/View/Bbs/master_info.html" op="block"  rnickname="{$Think.session.rnickname}"  rhead_photo="{$Think.session.rhead_photo}"  />
		<div class="topn_list">
			<div class="topn_item">
				<div class="no_title">
					<span class="no_span">
						TOP.<span class="no">1</span>
					</span>
					<span class="title">
						<a href="__ROOT__/Home/Bbs/post_dtl?pid=1#start" style="color:black;">
							学生社区第二次线上交流大会将于3月28号晚8点开始学生社区第二次线上交
						</a>
					</span>
				</div>
				<div class="ac"><span class="time">2014-08-28</span>&nbsp;&nbsp;查看(<span class="">999+</span>)&nbsp;&nbsp;回复(<span class="">999+</span>)</div>
			</div> 
			<div class="topn_item">
				<div class="no_title">
					<span class="no_span">
						TOP.<span class="no">2</span>
					</span>
					<span class="title">
						<a href="__ROOT__/Home/Bbs/post_dtl?pid=1#start" style="color:black;">
							音乐是几维的？依我看啊~
						</a>
					</span>
				</div>
				<div class="ac"><span class="time">2014-08-28</span>&nbsp;&nbsp;查看(<span class="">10</span>)&nbsp;&nbsp;回复(<span class="">10</span>)</div>
			</div>
			<div class="topn_item">
				<div class="no_title">
					<span class="no_span">
						TOP.<span class="no">3</span>
					</span>
					<span class="title">
						<a href="__ROOT__/Home/Bbs/post_dtl?pid=1#start" style="color:black;">
							学生社区第二次线上交流大会将于3月28号晚8点开始学生社区第二次线上交
						</a>
					</span>
				</div>
				<div class="ac"><span class="time">2014-08-28</span>&nbsp;&nbsp;查看(<span class="">10</span>)&nbsp;&nbsp;回复(<span class="">10</span>)</div>
			</div>
			<div class="topn_item">
				<div class="no_title">
					<span class="no_span">
						TOP.<span class="no">4</span>
					</span>
					<span class="title">
						<a href="__ROOT__/Home/Bbs/post_dtl?pid=1#start" style="color:black;">
							学生社区第二次线上交流大会将于3月28号晚8点开始学生社区第二次线上交
						</a>
					</span>
				</div>
				<div class="ac"><span class="time">2014-08-28</span>&nbsp;&nbsp;查看(<span class="">10</span>)&nbsp;&nbsp;回复(<span class="">10</span>)</div>
			</div>
		</div>
	</div>
</div>
