








<div style="border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);height:214px;">
	<div style="text-align:center;">
		<span style="width:120px;display:inline-block;margin:0;padding-top:10px;line-height:30px;padding:20px 0px;">
			<div style="font-weight:bold;">[rnickname]</div>
			<div style="font-size:10pt;display:[op]">贴吧(99+)站内信(99)</div>
			<div style="font-size:10pt;display:none;display:[opfloor]">FLOOR [floor]</div>
			<div style="font-size:10pt;display:none;display:[opfloor]">[reply_time]</div>
		</span>
		<a href="__ROOT__/Home/Bbs/center?uid=1#start">
			<img src="__PUBLIC__[rhead_photo]" width="80px" height="80px" style="float:right;margin:10px 10px 10px 0;"/>
		</a>
	</div>
	<div class="quick_op" onclick="to_post()" style="cursor:pointer;margin:20px;background-color:rgb(139,60,126);padding:5px;text-align:center;display:[op]">
		<span style="color:white">我要发帖</span>
	</div>
</div>

<script type="text/javascript">
	function to_post(){
		window.location.href="__ROOT__/Home/Bbs/post";
	}
</script>