<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs2.html" />


<link rel="stylesheet" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
<style>
.bbs_t_nav{
	height:60px;
}
.bbs_t_nav_item{
	width:130px;
	margin-right: 1px;
	line-height:60px;
	background-color:rgb(139,60,126);
	color: white;
	float: left;
	text-align:center;
	font-size: 12pt;
	cursor:pointer;
}
.chosed-nav-item{
	background-color:rgb(9,80,46);
}
.post{
	margin-top: 10px;
	margin-right: 15px;
	clear:left;
	border-top:rgb(9,80,46) 2px solid;
	background-color: rgb(234,234,234);
}
.post-title{
	padding: 20px;
	font-weight: bold;
	font-size: 14pt;
}
.post-by{
	padding: 0px 50px 5px;
	font-size: 10pt;
	color:gray;
}
.post-content{
	padding: 20px;
}
.push-item{
	clear:both;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;width:1024px" id="start">
	<div style="width:800px;float:left;">
		<div class="bbs_t_nav">
			<div onclick="to_post_list(1);" class="bbs_t_nav_item<?php if($cid==1)echo " chosed-nav-item"; ?>">师生答疑区</div>
			<div onclick="to_post_list(2);" class="bbs_t_nav_item<?php if($cid==2)echo " chosed-nav-item"; ?>">研究讨论区</div>
			<div onclick="to_post_list(3);" class="bbs_t_nav_item<?php if($cid==3)echo " chosed-nav-item"; ?>">书籍推荐区</div>
			<div onclick="to_post_list(4);" class="bbs_t_nav_item<?php if($cid==4)echo " chosed-nav-item"; ?>">课程交流区</div>
			<div onclick="to_post_list(5);" class="bbs_t_nav_item<?php if($cid==5)echo " chosed-nav-item"; ?>">idea狂想区</div>
			<div onclick="to_post_list(6);" class="bbs_t_nav_item<?php if($cid==6)echo " chosed-nav-item"; ?>">谈天说地区</div>
		</div>

		<div class="post">
			<div class="post-title">{$ttitle}</div>
			<div class="post-by">
				<span>{$tcreated_time}</span>&nbsp;&nbsp;&nbsp;&nbsp;查看(<span>{$tscan_count}</span>)&nbsp;&nbsp;楼层(<span>{$treply_count}</span>)
			</div>
			<div class="post-content">
				<div style="border-top:rgb(139,60,126) 2px solid;"></div>
				<div class="post-content-real" style="padding-top:10px">
					{$tcontent}
				</div>
				<div style="text-align:right;display:none;">
					这里是回复区
				</div>
			</div>
		</div>
		<div class="post-push" style="clear:both;float:left;width:1024px;background-color: rgb(234,234,234);">
			<volist name="reply_list" id="reply_vo" key="k">
				<div class="push-item" style="padding-top:15px;">
					<div style="float:right;" style="width:224px;">
						<div style="width:224px;">
							<include file="./Application/Home/View/Bbs/master_info.html" op="none" opfloor="block" floor="{$k}" reply_time="{$reply_vo.tcreated_time}" rnickname="{$reply_vo.rnickname}" rhead_photo="{$reply_vo.rhead_photo}" />
						</div>
					</div>
					<div style="margin-left:15px;margin-right:264px;">
						<div style="border-top:rgb(139,60,126) 2px solid;"></div>
						<div>
							<div class="post-content-real" style="padding-top:10px">
								<?php echo htmlspecialchars_decode($reply_vo['tcontent'],ENT_QUOTES); ?>
							</div>
							<div style="text-align:right;display:none;">
								这里是回复区
							</div>
						</div>
					</div>
				</div>
			</volist>
		</div>
		<div class="pages" style="margin:20px 0;text-align:center;">
			<span style="display:none;">这里是分页</span>
		</div>

		<div style="background-color:rgb(234,234,234);padding:15px;margin-right:15px;">
			<div style="margin:10px;">回复帖子：{$ttitle}</div>
			<div style="margin-bottom:10px;">
				<input type="hidden" id="tid" value="{$tid}"/>
				<textarea name="zcontent" class="form-control" style="width:100%;height:200px;visibility:hidden;"></textarea>
			</div>
			<button type="button" class="btn btn-info btn-block" id="btn_reply" >回复</button>
		</div>
	</div>


	<div style="padding-left:800px;">
		<include file="./Application/Home/View/Bbs/master_info.html" op="none" rnickname="{$Think.session.rnickname}" rhead_photo="{$Think.session.rhead_photo}" />
	</div>
</div>


<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="zcontent"]', {
		resizeType : 1,
		allowPreviewEmoticons : true,
		allowImageUpload : true,
		autoHeightMode : true,
		allowFileManager: true,
		afterCreate : function() {
			this.loadPlugin('autoheight');
		},
		items : [
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist', '|', 'emoticons', 'image', 'link']
	});
});
$(document).ready(function(){
	$('#btn_reply').click(function(){
		var url = '__ROOT__/Home/Bbs/post_reply';
		$.ajax({
			url:url,
			dataType:'json',
			data:{
				tid:$('#tid').val(),
				tsummary:editor.text().substr(0,100),
				tcontent:editor.html()
			},
			success:function(t,s,r){
				cdialog.show_info('回复成功！',function(){
					window.location.reload();
				});
			},
			error:function(t){
				eds_framework.error_handler(url, t);
			}
		});
	});
});
function to_post_list(cid){
	window.location.href="__ROOT__/Home/Bbs/post_list?cid="+cid+"#start";
}

</script>
