<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs2.html" />


<link rel="stylesheet" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
<style>
.bbs_nav{
}
.bbs_t_nav{
	height:60px;
}
.bbs_t_nav_item{
	width:130px;
	margin-right: 1px;
	line-height:60px;
	background-color:rgb(139,60,126);
	color: white;
	float: left;
	text-align:center;
	font-size: 12pt;
}
.chosed-nav-item{
	background-color:rgb(9,80,46);
}
.post_list{
	clear:both;
	width:775px;
}
.post_list,.topn_list{
	margin-top: 10px;
}
.post_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	margin-bottom: 0;
	
}
.post_item, .topn_item{
	height: 110px;
}
.title{
	margin:5px 0;
}
.post_item .by{
	padding-left: 100px;
	font-size: 12pt;
	padding-bottom: 10px;
}
.topn_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	padding:20px 5px;
}
.no_title{
	height:56px;
}
.no_span{
	color:red;
}
.no{
	font-weight: bold;
}
.ac{
	color:black;
	font-size: 10pt;
	text-align:right;
	padding: 8px 0 2px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;width:1024px;">
	<div style="width:224px;float:right;background-color:rgb(234,234,234);">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<a href="#post_menu" style="display:none;" id="skip2post_menu">&nbsp;</a>
	<div style="width:800px;float:left;" id="post_menu">
		<div class="bbs_t_nav">
			<div class="bbs_t_nav_item<?php if($cid==1)echo " chosed-nav-item"; ?>">师生答疑区</div>
			<div class="bbs_t_nav_item<?php if($cid==2)echo " chosed-nav-item"; ?>">研究讨论区</div>
			<div class="bbs_t_nav_item<?php if($cid==3)echo " chosed-nav-item"; ?>">书籍推荐区</div>
			<div class="bbs_t_nav_item<?php if($cid==4)echo " chosed-nav-item"; ?>">课程交流区</div>
			<div class="bbs_t_nav_item<?php if($cid==5)echo " chosed-nav-item"; ?>">idea狂想区</div>
			<div class="bbs_t_nav_item<?php if($cid==6)echo " chosed-nav-item"; ?>">谈天说地区</div>
		</div>

		<div class="post_list">
			<div class="title">
				主题：
			</div>
			<div class="" style="text-align:left;font-size:12pt;">
				<select name="zsub_type" class="selecter_1" id="zsub_type" subtype="{$zsub_type}">
					<option value="1"  <?php if($cid==1) echo "selected"; ?> >师生答疑区</option>
					<option value="2"  <?php if($cid==2) echo "selected"; ?> >研究讨论区</option>
					<option value="3"  <?php if($cid==3) echo "selected"; ?> >书籍推荐区</option>
					<option value="4"  <?php if($cid==4) echo "selected"; ?> >课程交流区</option>
					<option value="5"  <?php if($cid==5) echo "selected"; ?> >idea狂想区</option>
					<option value="6"  <?php if($cid==6) echo "selected"; ?> >谈天说地区</option>
				</select>
			</div>
			<div class="title">
				标题：
			</div>
			<div class="title">
				<input type="hidden" id="tid" value="{$tid}" />
				<input type="text" id="ttitle" class="form-control" placeholder="title input" value="{$ttitle}" />
			</div>
			<div class="title">
				封面<span style="color:gray;">（当帖子出现在首页时会显示该封面，建议宽高为203x169）</span>：
			</div>
			<div class="title" style="text-align:center;">
				<img id="tflag_show" 
				<?php if($tflag==''){ ?>
					src="__PUBLIC__/assets/image/post_1.png"
				<?php } else { ?>
					id="tflag_show" src="__PUBLIC__/uploads{$tflag}"
				<?php } ?> 
				width="203px" height="169px" style="margin:10px 0;" />
				<input type="hidden" id="tflag" name="tflag" value="{$tflag}" />
				<form method="post" enctype="multipart/form-data">
					<input type="file" id="tflag_input" name="tflag_input" onchange="upload_flag()" class="form-control" />
				</form>
			</div>
			<div class="title">
				<textarea name="tcontent" class="form-control" style="width:100%;height:200px;visibility:hidden;">{$tcontent}</textarea>
			</div>
			<div class="title">
				<include file="./Application/Home/View/control_btn.html" id="btn_save" text="暂存" />
				<include file="./Application/Home/View/control_btn.html" id="btn_release" text="发布" />
			</div>
		</div>
	</div>


</div>

<script type="text/javascript">
<include file="./Application/Home/View/control_editor.html" editor="editor" name="tcontent" />

function upload_flag(){
	//$('#tflag_input').attr('disabled',true);
	alert('change');
	$.ajaxFileUpload({
		url:'__ROOT__/Home/Bbs/post_img_upload',
		secureuri:false,
		fileElementId:'tflag_input',
		dataType: 'json',
		data:{},
		success: function (data, status){
			if(data.result == 0){
				$('#tflag_show').attr('src', '__PUBLIC__/uploads'+data.flag);
				$('#tflag').val(data.flag);
				$('#tflag_input').val('');
			} else {
				cdialog.show_alert('帖子图标上传失败！错误信息：'+data.msg);
			}
			//$('#tflag_input').attr('disabled',false);
		},
		error: function (data, status, e){
			cdialog.show_alert(e);
			//$('#tflag_input').attr('disabled',false);
		}
	});
}
$(document).ready(function(){
	$('#btn_release').click(function(){
		$('#btn_release').attr('disabled',true);
		var url = '__ROOT__/Home/Bbs/post_release';
		var subtype = $('select[name="zsub_type"]').val();
		$.ajax({
			url:url,
			dataType:'json',
			type:'post',
			data:{
				zid:$('#tid').val(),
				zsub_type:subtype,
				ztitle:$('#ttitle').val(),
				zflag:$('#tflag').val(),
				zsummary:editor.text().substr(0,100),
				zcontent:editor.html()
			},
			success:function(t,s,r){
				if(t.result==0){
					cdialog.show_info('操作成功！',function(){
						window.location.href="__ROOT__/Home/Bbs/post_list?cid="+subtype;
					});
				}else {
					cdialog.show_alert('操作失败！错误消息:'+t.msg);
				}
				$('#btn_release').attr('disabled',false);
			},
			error:function(t){
				eds_framework.error_handler(url,t);
				$('#btn_release').attr('disabled',false);
			}
		});
	});
});
$(document).ready(function(){
	$('#btn_save').click(function(){
		$('#btn_save').attr('disabled',true);
		var url = '__ROOT__/Home/Bbs/post_save';
		var subtype = $('select[name="zsub_type"]').val();
		$.ajax({
			url:url,
			dataType:'json',
			type:'post',
			data:{
				zid:$('#tid').val(),
				zsub_type:subtype,
				ztitle:$('#ttitle').val(),
				zflag:$('#tflag').val(),
				zsummary:editor.text().substr(0,100),
				zcontent:editor.html()
			},
			success:function(t,s,r){
				if(t.result==0){
					cdialog.show_info('操作成功！',function(){
						$('#skip2post_menu').click();
					});
				}else {
					cdialog.show_alert('操作失败！错误消息:'+t.msg);
				}
				$('#btn_save').attr('disabled',false);
			},
			error:function(t){
				eds_framework.error_handler(url,t);
				$('#btn_save').attr('disabled',false);
			}
		});

	});
});
</script>