<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs2.html" />


<link rel="stylesheet" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>
<style>
.bbs_nav{
}
.bbs_t_nav{
	height:60px;
}
.bbs_t_nav_item{
	width:130px;
	margin-right: 1px;
	line-height:60px;
	background-color:rgb(139,60,126);
	color: white;
	float: left;
	text-align:center;
	font-size: 12pt;
}
.chosed-nav-item{
	background-color:rgb(9,80,46);
}
.post_list{
	clear:both;
	width:775px;
}
.post_list,.topn_list{
	margin-top: 10px;
}
.post_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	margin-bottom: 0;
	
}
.post_item, .topn_item{
	height: 110px;
}
.post_item .title{
	padding-top: 20px;
	padding-left: 100px;
	margin-bottom: 20px;
	font-size: 14pt;
	font-weight: bold;
}
.post_item .by{
	padding-left: 100px;
	font-size: 12pt;
	padding-bottom: 10px;
}
.topn_item{
	border-top:rgb(139,60,126) 2px solid;background-color: rgb(234,234,234);
	padding:20px 5px;
}
.no_title{
	height:56px;
}
.no_span{
	color:red;
}
.no{
	font-weight: bold;
}
.ac{
	color:black;
	font-size: 10pt;
	text-align:right;
	padding: 8px 0 2px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;width:1024px;">
	<div style="width:800px;float:left;">
		<div class="bbs_t_nav">
			<div class="bbs_t_nav_item<?php if($cid==1)echo " chosed-nav-item"; ?>">师生答疑区</div>
			<div class="bbs_t_nav_item<?php if($cid==2)echo " chosed-nav-item"; ?>">研究讨论区</div>
			<div class="bbs_t_nav_item<?php if($cid==3)echo " chosed-nav-item"; ?>">书籍推荐区</div>
			<div class="bbs_t_nav_item<?php if($cid==4)echo " chosed-nav-item"; ?>">课程交流区</div>
			<div class="bbs_t_nav_item<?php if($cid==5)echo " chosed-nav-item"; ?>">idea狂想区</div>
			<div class="bbs_t_nav_item<?php if($cid==6)echo " chosed-nav-item"; ?>">谈天说地区</div>
		</div>

		<div class="post_list">
			<div class="title">
				区域：
			</div>
			<div class="" style="text-align:left;font-size:12pt;">
				<select name="zsub_type" class="selecter_1" id="zsub_type" subtype="{$zsub_type}">
					<option value="1">师生答疑区</option>
					<option value="2">研究讨论区</option>
					<option value="3">书籍推荐区</option>
					<option value="4">课程交流区</option>
					<option value="5">idea狂想区</option>
					<option value="6">谈天说地区</option>
				</select>
			</div>
			<div class="title">
				标题：
			</div>
			<div class="title">
				<input type="hidden" id="zid" value="{$zid}" />
				<input type="text" id="ztitle" class="form-control" placeholder="title input" value="{$ztitle}" />
			</div>
			<div class="title">
				<textarea name="zcontent" class="form-control" style="width:100%;height:200px;visibility:hidden;">{$zcontent}</textarea>
			</div>
			<div class="title">
				<button type="button" class="btn btn-info btn-block" id="btn_release">发布</button>
			</div>
		</div>
	</div>


	<div style="padding-left:800px;">
		<include file="./Application/Home/View/Bbs/master_info.html" op="block" />
	</div>
</div>

<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="zcontent"]', {
		resizeType : 1,
		allowPreviewEmoticons : true,
		allowImageUpload : true,
		autoHeightMode : true,
		allowFileManager: true,
		afterCreate : function() {
			this.loadPlugin('autoheight');
		},
		items : [
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist', '|', 'emoticons', 'image', 'link']
	});
});
$(document).ready(function(){
	$('#btn_release').click(function(){
		$('#btn_release').attr('disabled',true);
		var url = '__ROOT__/Home/Bbs/post_release';
		var subtype = $('select[name="zsub_type"]').val();
		$.ajax({
			url:url,
			dataType:'json',
			type:'post',
			data:{
				zid:$('#zid').val(),
				zsub_type:subtype,
				ztitle:$('#ztitle').val(),
				zsummary:editor.text().substr(0,100),
				zcontent:editor.html()
			},
			success:function(t,s,r){
				if(t.result==0){
					cdialog.show_info('操作成功！',function(){
						window.location.href="__ROOT__/Home/Bbs/post_list?cid="+subtype;
					});
				}else {
					cdialog.show_alert('操作失败！错误消息:'+t.msg);
				}
				$('#btn_release').attr('disabled',false);
			},
			error:function(t){
				eds_framework.error_handler(url,t);
				$('#btn_release').attr('disabled',false);
			}
		});

	});
});
</script>