<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}
.state{
	font-size:10pt;
}
.op{
	float:right;
	font-size: 12pt;
}
.tah_item{
	line-height: 30px;
	font-size: 14pt;
	clear: left;
	margin-bottom: 30px;
	clear:left;
}
.tah_item li {
	list-style-type: none;
	line-height: 40px;
	color:rgb(2,183,230);
	font-style: normal;
	font-size:14pt;
	padding-left: 120px;
}
.info{
	margin-left: 100px;
	width:490px;
}
.tah_raccount {
width:100%;overflow:hidden;margin-right:20px;
}
.tah_item_info{
	font-size:11pt;
	color:gray;
}

table.altrowstable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #a9c6c9;
	border-collapse: collapse;
	width:100%;
}
table.altrowstable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
	text-align: center;
}
table.altrowstable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9c6c9;
}
.oddrowcolor{
	background-color:#d4e3e5;
}
.evenrowcolor{
	background-color:#c3dde0;
}

</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="学生管理" href2="#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">学生列表</div>
			<div class="separator"></div>
			<div class="tah_list">

			<table class="altrowstable">
				<tr class="evenrowcolor">
					<th>账号</th>
					<th>姓名</th>
					<th>昵称</th>
					<th>年级</th>
					<th>学校</th>
					<th title="账号状态">状态</th>
					<th>操作</th>
				</tr>
				<volist name="stu_list" id="stu_vo" key="k" >
					<tr class="<?php if($k%2==0) echo 'evenrowcolor';else echo 'oddrowcolor'; ?>">
						<td>{$stu_vo.raccount}</td>
						<td>{$stu_vo.uname}</td>
						<td>{$stu_vo.rnickname}</td>
						<td>{$stu_vo.ugrade}</td>
						<td>南京大学</td>
						<td>{$stu_vo.rstate_name}</td>
						<td>&nbsp;<a href="__ROOT__/Home/Bbs/tah_dtl?rid={$stu_vo.rid}#start" style="color:black!important;">查看</a>&nbsp;|&nbsp;<a href="__ROOT__/Home/Bbs/stu_edit?rid={$stu_vo.rid}#start" style="color:black!important;">修改</a>&nbsp;|&nbsp;<span title="删除“{$stu_vo.rname}”" onclick="stu_delete(this,{$stu_vo.rid},'{$stu_vo.uname}')" style="cursor:pointer;">删除</span>&nbsp;</td>
					</tr>
				</volist>

			</table>


				


				<div class="tah_item" style="margin:20px;">
					<include file="./Application/Home/View/control_btn.html" id="btn_add" text="添加" />

				</div>
			</div>
		</div>


	</div>
</div>

<script type="text/javascript">
function stu_delete(elem, rid,uname){
	if(!eds_framework.confirm('','您确定要删除姓名为“'+uname+'”的学生吗？')){
		return;
	}
	var url = '__ROOT__/Home/Bbs/acc_delete';
	//console.log(this);
	//var elem = this;
	var oldtext = $(elem).text();
	$(elem).css('text-decoration','none').text('正在删除……');
	$.ajax({
		url:url,
		data:{rid:rid},
		dataType:'json',
		success:function(t,s,r){
			$(elem).css('text-decoration','underline').text(oldtext);
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					window.location.reload();
				});
			} else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
$(document).ready(function(){
	$('#btn_add').click(function(){
		window.location.href="__ROOT__/Home/Bbs/stu_edit#start";
	});
});
</script>