<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}

.acc_info li,.acc_info2 li{
	list-style-type:none;
	font-size: 14pt;
}
.op{
	color:gray;
	font-size:12pt;
}
.perm_title{
	width:350px;
	margin-right:20px;
}
.toggle .handle{
	top:-40px;
}

.input_hint{
	font-size: 10pt;
}
#ugid_show,#ugid_right_show{
	color:red;
	font-size: 12pt;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="学生管理" href2="stu#start" />
</div>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);font-style:normal;">
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">基本信息</div>
			<div class="separator"></div>
			<div class="acc_info">
				<ul>
					<li>
						<div style="font-size:11pt;"><span style="font-size:14pt;">学校</span>
							<select name="ugid" class="selecter_1" id="ugid">
								<volist name="college_list" id="college_vo">
									<option value="{$college_vo.gid}"
										<?php if($college_vo['gid']==$ugid){ ?>selected<?php } ?>
									>{$college_vo.gname}</option>
								</volist>
							</select>
						</div>
					</li>
					<li>
						<div style="font-size:11pt;"><span style="font-size:14pt;">账号：</span>
							<span class="input_hint">用户将使用“<span id="ugid_show">{$ugid}</span><span id="ugid_right_show"></span>”登录</span>
							<input type="hidden" value="{$rid}" id="rid1" name="rid1" />
							<input type="text" class="form-control" placeholder="account input" 
							<?php if($rid != -1){ ?>
								value="{$raccount}" 
							<?php } else { ?>
								value="" 
							<?php } ?>
							id="raccount1" name="raccount1" />
						</div>
					</li>
					<li>
						<div>密码：<span class="input_hint">默认为“000000”</span>
							<input type="password" class="form-control" placeholder="password input" 
							<?php if($rid != -1){ ?>
								value="{$raccount}"  disabled
							<?php } else { ?>
								value="000000"
							<?php } ?>
							 id="rpassword1" name="rpassword1" />
						</div>
					</li>
					<li>
						<div style="font-size:11pt;"><span style="font-size:14pt;">职称：</span>
							<select name="uchar" class="selecter_1" id="uchar" key="k">
								<volist name="uchar_list" id="uchar_vo">
									<option value="{$uchar_vo.dic_key}"
										<?php if($uchar_vo['dic_key']==$uchar || $k==1&&$rid==-1){ ?>selected<?php } ?>
									>{$uchar_vo.dic_value}</option>
								</volist>
							</select>
						</div>
					</li>
					<li>
						<div>昵称：
							<input type="text" class="form-control" placeholder="nickname input" value="{$rnickname}" id="rnickname" name="rnickname" />
						</div>
					</li>
				</ul>
			</div>



			<div class="center_title">权限信息</div>
			<div class="separator"></div>
			<div class="acc_info2">

				<?php 

					$perm_array = array(
						array('是否允许登录','rstate',$rstate)
						,array('是否允许发布帖子','ucreate_post',$ucreate_post)
						,array('是否允许回复帖子','ucreate_reply',$ucreate_reply)
						,array('是否允许发送站内信','ucreate_msg',$ucreate_msg)
						,array('是否允许创建交流札记','ucreate_ex_note',$ucreate_ex_note)
						//,array('是否允许创建留学动态','ucreate_ex_trend',$ucreate_ex_trend)
						//,array('是否允许创建交换项目信息','ucreate_ex_project',$ucreate_ex_project)
						//,array('是否允许上传课件','uupload_courseware',$uupload_courseware)
						,array('是否允许下载课件','udownload_courseware',$udownload_courseware)
						//,array('是否允许管理学生','umanage_student',$umanage_student)
					);
				 ?>
				<ul>
					<?php foreach ($perm_array as $key) { ?>
						<li>
							<div class="perm_title"><?php echo $key[0] ?></div>
							<div class="checkbox">
								<input type="checkbox" id="<?php echo $key[1]; ?>" name="<?php echo $key[1]; ?>" 
								<?php if($key[1]=='rstate'&&$key[2]==0 || $key[1]!='rstate'&&$key[2]==1 || !isset($key[2])){ ?>
								checked
								<?php } ?>
								>
							</div>
						</li>
					<?php } ?>
				</ul>


			</div>
		</div>

		<div>
			<button type="button" class="btn btn-info btn-block" id="btn_add">
				<?php if($rid == -1){ ?>添加<?php } else { ?>保存<?php } ?>
			</button>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#btn_add').click(function(){
		var url = '__ROOT__/Home/Bbs/stu_save';
		//alert($('#raccount1').val());return;
		$.ajax({
			url:url,
			dataType:'json',
			type:'post',
			data:{
				<?php foreach ($perm_array as $key) { ?>
					<?php echo $key[1]; ?>:$('#<?php echo $key[1]; ?>').parent().attr('class').indexOf('checked')>-1,
				<?php } ?>
				rid:$('#rid1').val(),
				uchar:$('#uchar').val(),
				ugid:$('#ugid').val(),
				raccount:$('#raccount1').val(),
				rpassword:$('#rpassword1').val(),
				rnickname:$('#rnickname').val()

			},
			success:function(t,s,r){
				if(t.result == 0){
					var rid = {$rid};
					if(rid == -1){
						rid = t.rid;
					}
					cdialog.show_info('操作成功！',function(){
						window.location.href="__ROOT__/Home/Bbs/tah_dtl?rid="+rid+"#start";
					});
				}else{
					cdialog.show_alert('操作失败！错误信息：'+t.msg);
				}
			},
			error:function(t){
				eds_framework.error_handler(url,t);
			}
		});
	});
	var val = $('select[name="ugid"]').val();
	$('#ugid_show').text(val);
	val = $('#raccount1').val().substr(val.length);
	$('#raccount1').val(val);
	$('#ugid_right_show').text(val);
	$('#raccount1').keyup(function(){
		$('#ugid_right_show').text($('#raccount1').val());
	});
});
</script>