<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_bbs.html" />

<style>
.separator{
	border-bottom:rgb(139,60,126) 2px solid;
	margin-bottom: 10px;
}
.center_title{
	font-size: 14pt;
	font-weight: bold;
	padding: 5px 10px;
}
.state{
	font-size:10pt;
}
.op{
	float:right;
	font-size: 12pt;
}
.ta_item{
	line-height: 30px;
	font-size: 14pt;
	clear: left;
	margin-bottom: 30px;
}
.ta_item li {
	list-style-type: none;
	line-height: 30px;
	color:rgb(2,183,230);
	font-style: normal;
	font-size:14pt;
	padding-left: 120px;
}
.info{
	margin-left: 100px;
	width:490px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="139,60,126" display0="inline-block" display1="block" display2="block"
	title0="师生社区" href0="__ROOT__/Home/Bbs" title1="个人中心" href1="__ROOT__/Home/Bbs/center?uid=1#start" 
	title2="助教管理" href2="#start" />
	<div style="width:300px;float:right;">
		<include file="./Application/Home/View/Bbs/right.html" />
	</div>
	<div style="width:724px;padding:40px;">
		<div class="post_list_div">
			<div class="center_title">助教列表</div>
			<div class="separator"></div>
			<div class="ta_list">

				<volist name="ta_list" id="ta_vo" key="k">
					<div class="ta_item">
						<img width="119px" height="135px"
						<?php if($ta_vo['uphoto'] == ''){?>
							src="__PUBLIC__/assets/image/course_cw_teacher.png" 
						<?php } else { ?>
							src="__PUBLIC__/uploads{$ta_vo.uphoto}"
						<?php } ?>

						style="float:left;margin:20px 40px;" />
						<div class="info">
							<ul>
								<li>
									<span>账号：<span title="登录账号">{$ta_vo.raccount}</span><span title="账号状态" style="font-size:10pt;color:gray;">({$ta_vo.rstate_name})</span></span>
								</li>
								<li>
									<span><span title="姓名">{$ta_vo.uname}</span>（<span title="学位">{$ta_vo.uchar_name}</span>）</span>
								</li>
								<li>
									<span>电话：<span title="电话">{$ta_vo.utel}</span></span>
								</li>
								<li>
									<span>邮箱：<span title="邮箱">{$ta_vo.uemail}</span></span>
								</li>
								<li>
									<span>办公室：<span title="办公地点">{$ta_vo.uoffice_addr}</span></span>
								</li>
								<li>
									<span>
										<a href="ta_edit?rid={$ta_vo.rid}#start" style="text-decoration:underline;" title="修改“{$ta_vo.uname}”的信息">修改</a>
										&nbsp;&nbsp;
										<span onclick="ta_delete(this,{$ta_vo.rid},'{$ta_vo.uname}')" style="cursor:pointer;text-decoration:underline;" title="删除“{$ta_vo.uname}”的信息">删除</span>
									</span>
								</li>
							</ul>
						</div>
					</div>
				</volist>


				<div class="ta_item">
					<div style="width:100px;">
						<include file="./Application/Home/View/control_btn.html" text="添加" id="btn_ta_add"/>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>
<script type="text/javascript">
function ta_delete(elem,rid,uname){
	if(!eds_framework.confirm('','您确定要删除姓名为“'+uname+'”的助教信息吗？')){
		return;
	}
	var oldtext = $(elem).text();
	$(elem).css('text-decoration','none').text('正在删除……');
	var url = '__ROOT__/Home/Bbs/acc_delete';
	$.ajax({
		url:url,
		data:{rid:rid},
		dataType:'json',
		success:function(t,s,r){
			$(elem).text(oldtext);
			if(t.result == 0){
				cdialog.show_info('操作成功！',function(){
					window.location.reload();
				});
			} else{
				cdialog.show_alert('操作失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
$(document).ready(function(){
	$('#btn_ta_add').click(function(){
		window.location.href="ta_edit?rid=-1#start";
	});
});
</script>