<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div id="start" style="height:56px;background-color:rgb(201,48,59);color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;">
		新闻动态> {$main_title}专区
	</div>
	<div style="padding:100px;">
		<div class="news_title" style="text-align:center;margin-bottom:20px;">Water's Tough Skin</div>
		<div class="news_by" style="text-align:center;margin:10px 0px 30px;">
			Science杂志&nbsp;&nbsp;2014-3-14
		</div>
		<div class="news_by">
An ant could step off a cliff and land unharmed. But if it dips a leg in a raindrop, the insect can be caught in a life-threatening morass, all because of the surface tension of water. The result of polar interactions among water molecules, surface tension is what draws a water droplet into a sphere. 
     It creates an elastic surface that can deform without breaking—think of a water strider oaring its way across the surface of a pond. At the same time, it enables water to cling like quicksand to an ant unlucky enough to blunder in. Creatures of our size barely acknowledge surface tension's existence, but for the tiny, "it becomes a dominant force," says David Hu, a mechanical engineer at the Georgia Institute of Technology in Atlanta. 
      Because of surface tension, a rat can't pee a steady stream, but instead must slowly push out urine drop by drop. (It can take 10 minutes for a single drop to fall.) Surface tension thwarts juvenile flying fish: When they try to escape into the air like the larger adults, they sometimes bounce off the underside of the water's surface layer. Dew forming on a mosquito's wing will cause the wing to fold up, grounding the insect until the wing dries out 
     Physicists have a pretty good understanding of how surface tension arises. The clingy water molecules attempt to minimize their connections with other types of molecules. So when something deforms the water surface, the displaced water molecules work to return to their minimum-energy configuration—unless the intruder itself attracts water molecules, in which case the water clings like glue. But biologists have tended to ignore the air-water interface, Hu says.
     His own eyes were opened a decade ago when he began to study how water striders skate so effortlessly along the surfaces of ponds. Using dyes and high-speed video, Hu and his colleagues found that by vigorously rowing along the surface, striders create swirls that help propel them forward, all without rupturing the water surface. "That work was the trigger of academic interest in surface tension in biology," says Ho-Young Kim, a mechanical engineer at Seoul National University. 
   Hu has since looked at other phenomena involving air-water interfaces—how dogs shake to dry off, how mosquitoes cope with rain (Science, 8 June 2012, p. 1216), and how animals pee—disparate phenomena "linked by common equations and modeling ideas," he says. Since then, other researchers have recognized the power of surface tension to explain form and behavior on the small scale. And while humans, unlike ants, don't have to worry about being trapped because of surface tension, it's still relevant to our lives. For example, our lungs secrete a chemical inside their air-filled sacs to lower the surface tension there, which allows us to breathe without the sacs collapsing when we exhale. Surface tension also allows human and agricultural pathogens to travel long distances in tiny, lightweight droplets. 
		</div>
	</div>
</div>
