<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div id="start" style="height:56px;background-color:rgb(201,48,59);color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;">
		新闻动态 > {$zsub_type}
	</div>
	<div style="padding:100px;">
		<div class="news_title" style="text-align:center;margin-bottom:20px;font-size:16pt;">{$ztitle}</div>
		<div class="news_by" style="text-align:center;margin:10px 0px 30px;">
			{$zsub_type}&nbsp;&nbsp;{$zreleased_time}
		</div>
		<div class="news_by">{$zcontent}</div>
		<div>
			<button type="button" class="btn btn-info btn-block" id="btn_add" onclick="modify({$zid})">修改</button>
		</div>
	</div>
</div>

<script>
function modify(zid){
	window.location.href="__ROOT__/Home/News/edit?zid="+zid;
}
</script>