<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_news.html" />

<style>
.news_left{
	width:455px;
	font-style: normal;
	float:left;
}
.news_right{
	width:1024px;
	padding-left:475px;
	font-style: normal;
}
.news_cn_science_item,.news_science_item,.news_nature_item{
	width:100%;height:107px;margin-bottom:2px;background-color:rgb(234,234,234);
}
.news_plan_item{
	margin-bottom:2px;background-color:rgb(234,234,234);
}
.news_cn_science_item_title,.news_science_item_title,.news_nature_item_title{
	padding:20px 20px 5px;font-size:12pt;font-family:'Segoe UI';height:75px;
}
.news_cn_science_item_by{
	text-align:right;padding-right:20px;font-size:12pt;color:rgb(31,105,228);
}
.news_science_item_by{
	text-align:right;padding-right:20px;font-size:12pt;color:rgb(197,31,0);
}
.news_nature_item_by{
	text-align:right;padding-right:20px;font-size:12pt;color:rgb(0,119,104);
}
.news_title{
	margin:10px 0;
	font-size:14pt;font-family:'黑体';
}
.news_plan_item_title{
	font-size:12pt;font-family:'Segoe UI';font-weight:bold;padding:20px 10px 10px;
}
.news_plan_item_content{
	padding:5px 10px;font-size:12pt;font-family:'Segoe UI';
}
.news_plan_item_read_all{
	padding:5px 10px;font-size:14pt;font-family:'黑体';color:blue;
}
.news_plan_item_by{
clear:right;text-align:right;font-size:12pt;font-family:'Segoe UI';color:rgb(109,14,106);
padding:5px 30px 15px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;">
	<div class="news_left">
		<div>
			<div class="news_title" style="color:rgb(31,105,228);">
				<span style="">中国科学网</span>
				<span style="float:right">
					<a href="__ROOT__/Home/News/newslist?zsub_type=0#start" >更多>></a>
				</span>
			</div>
			<div style="width:100%;height:7px;background-color:rgb(31,105,228);"></div>

			<div class="news_cn_science_item">
				<div class="news_cn_science_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />科学家发现金星大气层神秘罕见彩虹科学家发现金星大气层神秘罕见彩虹科学家发现金星大气层神秘罕见彩虹</a>
				</div>
				<div class="news_cn_science_item_by">
					科学网&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
			<div class="news_cn_science_item">
				<div class="news_cn_science_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />爱尔兰发明简易净水器 只靠阳光就能净水</a>
				</div>
				<div class="news_cn_science_item_by">
					科学网&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
		</div>

		<div style="margin-top:40px;">
			<div class="news_title" style="color:rgb(197,31,0);">
				<span>Science专区</span>
				<span style="float:right">
					<a href="__ROOT__/Home/News/newslist?zsub_type=1#start" >更多>></a>
				</span>
			</div>
			<div style="width:100%;height:7px;background-color:rgb(197,31,0);"></div>

			<div class="news_science_item">
				<div class="news_science_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />Water's Tough Skin</a>
				</div>
				<div class="news_science_item_by">
					Science杂志&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
			<div class="news_science_item">
				<div class="news_science_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />How Earth Can Cool Without Plunging Into a Deep Freeze</a>
				</div>
				<div class="news_science_item_by">
					Science杂志&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
		</div>

		<div style="margin-top:40px;">
			<div class="news_title" style="color:rgb(0,119,104);">
				<span>Nature专区</span>
				<span style="float:right">
					<a href="__ROOT__/Home/News/newslist?zsub_type=2#start" >更多>></a>
				</span>
			</div>
			<div style="width:100%;height:7px;background-color:rgb(0,119,104);"></div>

			<div class="news_nature_item">
				<div class="news_nature_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />Water's Tough Skin</a>
				</div>
				<div class="news_nature_item_by">
					Science杂志&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
			<div class="news_nature_item">
				<div class="news_nature_item_title">
					<a href="__ROOT__/Home/News/detail?zid=1#start" />How Earth Can Cool Without Plunging Into a Deep Freeze</a>
				</div>
				<div class="news_nature_item_by">
					Science杂志&nbsp;&nbsp;&nbsp;&nbsp;2014-3-18
				</div>
			</div>
		</div>
	</div>
	<div class="news_right">
		<div>
			<div class="news_title" style="color:rgb(109,14,106);">
				<span style="">拔尖专区</span>
				<span style="float:right">
					<a href="__ROOT__/Home/News/newslist?zsub_type=3#start" >更多>></a>
				</span>
			</div>
			<div style="width:100%;height:7px;background-color:rgb(109,14,106);"></div>

			<div class="news_plan_item">
				<div class="news_plan_item_main">
					<img src="__PUBLIC__/assets/image/news_plan_1.png" style="float:right;padding:10px 25px 10px 10px;"/>
					<div class="news_plan_item_title">2014年北京航空航天大学自主招生珠峰计划简章(物理类)
					</div>
					<div class="news_plan_item_content">&nbsp;&nbsp;&nbsp;&nbsp;“珠峰计划”是我国教育部启动实施的“基础学科拔尖学生培养实验计划”，是我国的顶尖培养人才计划。北京航空航天大学物理科学与核能工程学院（简称北航物理学院）代表北航物理学科已进入全国“珠峰计划”的物理部分。
					</div>
					<div class="news_plan_item_read_all">
						<a href="__ROOT__/Home/News/detail?zid=1#start" />阅读全文</a>
					</div>
				</div>
				<div class="news_plan_item_by">
					作者：南京大学 2014-3-3
				</div>
			</div>
			<div class="news_plan_item">
				<div class="news_plan_item_main">
					<img src="__PUBLIC__/assets/image/news_plan_1.png" style="float:right;padding:10px 25px 10px 10px;"/>
					<div class="news_plan_item_title">2014年北京航空航天大学自主招生珠峰计划简章(物理类)
					</div>
					<div class="news_plan_item_content">&nbsp;&nbsp;&nbsp;&nbsp;“珠峰计划”是我国教育部启动实施的“基础学科拔尖学生培养实验计划”，是我国的顶尖培养人才计划。北京航空航天大学物理科学与核能工程学院（简称北航物理学院）代表北航物理学科已进入全国“珠峰计划”的物理部分。
					</div>
					<div class="news_plan_item_read_all">
						<a href="__ROOT__/Home/News/detail?zid=1#start" />阅读全文</a>
					</div>
				</div>
				<div class="news_plan_item_by">
					作者：南京大学 2014-3-3
				</div>
			</div>
		</div>
	</div>
</div>
