<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
.version-div{
	margin: 10px 50px;
}
.version-time{
	width:180px;
	float:left;
}
.version-info{
	padding-left: 180px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<div id="start" style="height:56px;background-color:black;color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;text-align:center;">
		关于我们
	</div>
	<div style="padding:100px;">

<p>
&emsp;&emsp;“基础学科拔尖学生培养试验计划”简称“珠峰计划”，是国家为回应“钱学森之问”而推出的一项人才培养计划，旨在培养中国自己的学术大师。该计划由教育部联合中组部、财政部于2009年启动。在《国家中长期教育改革和发展规划纲要》制定原则的过程当中，教育部门对基础学科的拔尖创新人才培养做了筹备，已经选择清华、北大、复旦、浙大、南大、中科大等20所中国大学的数、理、化、信、生5个学科率先进行试点，力求在创新人才培养方面有所突破。拔尖创新人才的培养是一项系统工程，需社会、家庭、学校等社会各界的大力支持，从而营造拔尖创新人才脱颖而出的良好氛围和政策机制。
</p>
<p>&emsp;&emsp;本网站旨在为“珠峰计划”的学生以及老师提供一个交流平台。老师可以将最新的关于计划的资讯通知课件等发布到此平台，使学生能够获取最新资料。同时，学生可以在此平台提出自己的想法，与老师同学讨论资讯，交流想法等。</p>

<p>&emsp;&emsp;本网站的版本信息如下：</p>
<div class="version-div">
	<div class="version-time">2014年10月21日</div>
	<div class="version-info">v1.0 alpha 上线，系统内部测试</div>
</div>

	</div>
</div>
