<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<div id="start" style="height:56px;background-color:black;color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;text-align:center;">
		联系方式
	</div>
	<div style="padding:100px;">
<p>本网站由<strong>EDS网站制作实验室</strong>特别制作，如果您在使用中有任何建议或者意见，请通过如下方式联系我们：
</p>
<p>&emsp;&emsp;电子邮箱：njueds@163.com</p>
	</div>
</div>
