<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
a{
	color:black !important;
}
li.menu2{
	margin-left:30px; 
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<div id="start" style="height:56px;background-color:black;color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;text-align:center;">
		网站地图
	</div>
	<div style="padding:100px;margin-left:150px;">
<ul>
	<li class="menu1">
		<div><a href="__ROOT__/Home/Index">首页</a></div>
	</li>
	<li class="menu1">
		<div>拔尖计划</div>
		<li class="menu2"><a href="__ROOT__/Home/Plan">起源</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Plan/effect">实施</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Plan/college">高校</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Plan/reform">改革</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Plan/project">成果</a></li>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/News">新闻动态</a></div>
		<li class="menu2"><a href="__ROOT__/Home/News/newslist?zsub_type=3">拔尖专区新闻</a></li>
		<li class="menu2"><a href="__ROOT__/Home/News/newslist?zsub_type=0">中国科学网新闻</a></li>
		<li class="menu2"><a href="__ROOT__/Home/News/newslist?zsub_type=1">Science专区新闻</a></li>
		<li class="menu2"><a href="__ROOT__/Home/News/newslist?zsub_type=2">Nature专区新闻</a></li>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/League">高校联盟</a></div>
		<volist name="college_list" id="college_vo" key="k">
			<li class="menu2"><a href="__ROOT__/Home/League/dtl?gid={$college_vo.gid}#start">{$college_vo.gname}</a></li>
		</volist>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/Notice">公告通知</a></div>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/Ex">国际交流</a></div>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/Course">虚拟学院</a></div>
		<li class="menu2"><a href="__ROOT__/Home/Course/netcourse">网络课程</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Course/pl">物理图书馆</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Course/pi">公共课件</a></li>
		<li class="menu2"><a href="__ROOT__/Home/Course/cw">课程课件</a></li>
	</li>
	<li class="menu1">
		<div><a href="__ROOT__/Home/Bbs">学生社区</a></div>
	</li>
</ul>
	</div>
</div>
