<layout name="layout" replace="{__REEPLACE__}" />

<include file="./Application/Home/View/welcome_index.html" />


<div style="float:left;margin-right:16px;width:628px;">
	
	<div id="physics_news_area" style="float:left;margin-right:12px;width:308px;">
		<div class="index_title">
			<span>物理前沿</span>
			<span style="float:right">{$more}</span>
		</div>
		<div style="width:100%;height:7px;background-color:#007768;"></div>
		<div id="physics_news_area_items"></div>
	</div>

	<div id="hot_act_area" style="float:left;width:308px;">
		<div class="index_title">
			<span>热门活动</span>
			<span style="float:right">{$more}</span>
		</div>
		<div style="width:308px;height:7px;background-color:#C51F00;"></div>
		<div id="hot_act_area_items"></div>
	</div>
	<div id="recmd_course_area" style="clear:both;width:628px;display:block;">
		<div class="index_title">
			<span style="float:left">推荐课程</span>
			<span style="float:right">{$more}</span>
			<span>&nbsp;</span>
		</div>
		<div style="width:628px;height:7px;background-color:#9A7016;">&nbsp;</div>
		<div id="recmd_course_area_items"></div>
	</div>
</div>


<div style="float:left;width:380px;">
	<div id="hot_post_area" style="float:left;margin-right:12px;width:380px;">
		<div class="index_title">
			<span>学生社区热点</span>
			<span style="float:right">{$more}</span>
		</div>
		<div style="height:7px;background-color:#6D0E6A;"></div>
		<div id="hot_post_area_items"></div>
	</div>

	<div id="hot_college_area" style="float:left;margin-right:12px;width:380px;">
		<div class="index_title">
			<span>名校链接</span>
		</div>
		<div style="height:7px;background-color:#A2A012;">&nbsp;</div>
		<div style="background-color:rgb(234,234,234);width:189px;margin-right:2px;margin-bottom:2px;height:207px;float:left">
			<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_1.png" /></div>
		</div>
		<div style="background-color:rgb(234,234,234);width:189px;margin-bottom:2px;height:207px;float:left">
			<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_2.png" /></div>
		</div>
		<div style="background-color:rgb(234,234,234);width:189px;margin-right:2px;height:207px;float:left">
			<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_3.png" /></div>
		</div>
		<div style="background-color:rgb(234,234,234);width:189px;height:207px;float:left">
			<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_4.png" /></div>
		</div>
	</div>
</div>


<script language="javascript">
/*

			$('#physics_news_area_items .index_item').mouseenter(function(e){
				var tdiv = $('#delete_item_div');//console.log(e);
				tdiv.css('width', e.currentTarget.clientWidth+"px");
				tdiv.css('height', e.currentTarget.clientHeight+"px");
				tdiv.css('left', e.currentTarget.offsetLeft+"px");
				tdiv.css('top', e.currentTarget.offsetTop+"px");
				tdiv.show();
				return false;
			});
*/


$(document).ready(function(){
	eds_framework.metadata.push({
		"load":{
			"url":"__ROOT__/Home/Index/mphynews",
			"action":"post",
			"tpl":
				'<div class="index_item">'+
					'<div class="index_item_content">'+
						'<span>{title}</span>'+
					'</div>'+
					'<div class="index_item_info">'+
						'<div>'+
							'<span class="index_item_info_left">{college}</span>'+
							'<span class="index_item_info_right">{by}</span>'+
						'</div>'+
					'</div>'+
				'</div>',
			"tpl_args":["{title}","{college}","{by}"],/*使用mdl_args可以加快替换速度*/
			"error":"加载物理前沿列表失败！{status}:{statusText}",
			"clear":true,
			"parent":"#physics_news_area_items"
		},
		"add":{

		},
		"mdf":{

		},
		"rmv":{
			"parent":"#physics_news_area_items .index_item",
			"type":"img",
			"url":"__ROOT__/Home/Index/mphynews_rmv"
		},
		"shld":{

		}
	});
	/*
	var t = new Array();
	t[eds_framework.T_URL] = '__ROOT__/Home/Index/mphynews';
	t[eds_framework.T_ELEM] = '#physics_news_area_items';
	t[eds_framework.T_HINT] = '物理前沿列表';
	t[eds_framework.T_TYPE] = 'post';
	eds_framework.metadata.push(t);
	t = new Array();
	t[eds_framework.T_URL] = '__ROOT__/Home/Index/mhotact';
	t[eds_framework.T_ELEM] = '#hot_act_area_items';
	t[eds_framework.T_HINT] = '热门活动列表';
	t[eds_framework.T_TYPE] = 'post';
	eds_framework.metadata.push(t);
	t = new Array();
	t[eds_framework.T_URL] = '__ROOT__/Home/Index/mhotpost';
	t[eds_framework.T_ELEM] = '#hot_post_area_items';
	t[eds_framework.T_HINT] = '学生社区热点列表';
	t[eds_framework.T_TYPE] = 'post';
	eds_framework.metadata.push(t);
	t = new Array();
	t[eds_framework.T_URL] = '__ROOT__/Home/Index/mrecmdcourse';
	t[eds_framework.T_ELEM] = '#recmd_course_area_items';
	t[eds_framework.T_HINT] = '推荐课程列表';
	t[eds_framework.T_TYPE] = 'post';
	eds_framework.metadata.push(t);
	//*/
	/*
	clogin.callback_func_array.push(function(){
		eds_framework.load();
	});//*/
});
//删除物理前沿
function remove_phynews_item(id){
	$('#physics_news_area_items').html('');
	eds_framework.load();
}

</script>