

{
	"result":0,
	"msg":"succeed",
	"data":[

	<volist name="hotact_list" id="act_vo" key="k">
	{
		"title":"{$act_vo.ztitle}",
		"college":"南京大学",
		"by":"{$act_vo.zreleased_time}",
		"url":
		"<?php 
		if($act_vo['kztype']==0){
			?>__ROOT__/Home/News/detail?zid={$act_vo.kzid}<?php
		} else if($act_vo['kztype']==3){
			?>__ROOT__/Home/Plan/project_dtl?zid={$act_vo.kzid}#plan_title_span<?php
		} else if($act_vo['kztype']==4){
			?>__ROOT__/Home/Notice/detail?zid={$act_vo.kzid}#start<?php
		} else if($act_vo['kztype']==5 || $act_vo['kztype']==6 || $act_vo['kztype']==9){
			?>__ROOT__/Home/Ex/detail?zid={$act_vo.kzid}#start<?php
		} else {
			?>#<?php
		}
		?>"
	}
	<?php if(count($hotact_list)!=$k){ ?>,<?php } ?>
	</volist>
	]
}




<?php /*
<div class="index_item">
	<div class="index_item_content">
		<span>学生社区2014年师生线上交流大会将在3月28号举行</span>
	</div>
	<div class="index_item_info">
		<div>
			<span class="index_item_info_right">北京大学&nbsp;&nbsp;2014-3-15</span>
		</div>
	</div>
</div>
<div class="index_item">
	<div class="index_item_content">
		<span>学生社区2014年师生线上交流大会将在3月28号举行</span>
	</div>
	<div class="index_item_info">
		<div>
			<span class="index_item_info_right">北京大学&nbsp;&nbsp;2014-3-15</span>
		</div>
	</div>
</div>
<div class="index_item">
	<div class="index_item_content">
		<span>学生社区2014年师生线上交流大会将在3月28号举行</span>
	</div>
	<div class="index_item_info">
		<div>
			<span class="index_item_info_right">北京大学&nbsp;&nbsp;2014-3-15</span>
		</div>
	</div>
</div>
*/ ?>