

<?php if(session('rnickname')) {?>

<div class="index_item">
	<div class="index_item_content">
		<span>Opening Doors to Engineering</span>
	</div>
	<div class="index_item_info">
		<div>
			<span class="index_item_info_left">南京大学</span>
			<span class="index_item_info_right">Nature杂志</span>
		</div>
	</div>
</div>


<?php } else { ?>


{
	"result":0,
	"msg":"succeed",
	"data":[{
		"title":"Opening Doors to Engineering",
		"college":"南京大学",
		"by":"Nature杂志"
	},{
		"title":"Opening Doors to Engineering",
		"college":"北京大学",
		"by":"Nature杂志"
	}]
}

<?php } ?>

