

<div class="index_item">
	<div class="recmd_course_content">
		<img src="__PUBLIC__/assets/image/course_1.png" width="309px" height="195px" />
		<div class="recmd_course_content_title">理解爱因斯坦：狭义相对论 Understanding Einstein: Understanding Einstein: The Special Theory of Relativity</div>
	</div>
	<div class="recmd_course_info">
		<div class="recmd_course_info_text">
			<div class="recmd_course_info_text1">斯坦福大学 </div>
			<div class="recmd_course_info_text2">Stanford University</div>
			<div class="recmd_course_info_text2">
				教授：Larry Randles Larry Randles Randles
			</div>
		</div>
		<div class="recmd_course_info_img">
			<img src="__PUBLIC__/assets/image/teacher_1.png" width="140px" />
		</div>
	</div>
</div>
<div class="index_item">
	<div class="recmd_course_content">
		<img src="__PUBLIC__/assets/image/course_1.png" width="309px" height="195px" />
		<div class="recmd_course_content_title">理解爱因斯坦：狭义相对论 Understanding Einstein: Understanding Einstein: The Special Theory of Relativity</div>
	</div>
	<div class="recmd_course_info">
		<div class="recmd_course_info_text">
			<div class="recmd_course_info_text1">斯坦福大学 </div>
			<div class="recmd_course_info_text2">Stanford University</div>
			<div class="recmd_course_info_text2">
				教授：Larry Randles Larry Randles Randles
			</div>
		</div>
		<div class="recmd_course_info_img">
			<img src="__PUBLIC__/assets/image/teacher_1.png" width="140px" />
		</div>
	</div>
</div>