 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- SmartAddon.com Verification -->
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe" />
    <link rel="shortcut-icon" href="__PUBLIC__/bootflat/favicon_16.ico"/>
    <link rel="bookmark" href="__PUBLIC__/bootflat/favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="__PUBLIC__/bootflat/css/site.min.css">

    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/bootflat/js/html5shiv.js"></script>
      <script src="__PUBLIC__/bootflat/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/bootflat/js/site.min.js"></script>
  </head>
  <body style="background-color: white;"><!--#f1f2f6-->

<!--nav-->
<nav id="top_nav" class="navbar navbar-default navbar-custom" role="navigation" style="height:108px;background-color:black;position:inherit;">
	<div class="container" style="width:1024px;">
		<div class="navbar-header">
			<a style="position:relative;font-size:24pt;color:white;top:15px;">全国物理拔尖人才培养计划</a>
			<a style="position:relative;font-size:16pt;color:white;top:50px;left:-385px;">Training Plan Of Physics Subject Top-notch Talent</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" style="color:white">wuxiaoshan</a></li>
				<li><a href="#" style="color:white">注销</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="topic" style="color:black;padding-bottom:10px;padding-top:0;">
	<div class="container" style="padding:0px 0 0;width:1024px">
		<div>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_index.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_plan.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_news.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_league.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_notice.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_ex.png" /></span>
			<span style="padding-right:4px;"><img src="__PUBLIC__/assets/image/nav_course.png" /></span>
			<span style=""><img src="__PUBLIC__/assets/image/nav_post.png" /></span>
		</div>
	</div>
</div>

<div class="container" style="padding-left:0px;margin-bottom:10px;background-color:rgb(35,17,103);width:1024px;">
	<span><img src="__PUBLIC__/assets/image/head_index.png" width="677px" height="342px" /></span>
</div>

<style>
.index_title {
	font-size: 14pt;
}
.index_item{
	height:108px;margin-bottom:2px;background-color:rgb(234,234,234)
}
.index_item_hot{
	height:218px;
}
.index_item_content {
	padding:10px 22px 0;font-family:Segoe UI;font-size:12pt;float:left;
}
.index_item_info{/* 出处 */
	font-size:12pt;padding-top:76px;
}
.index_item_info_left {
	padding-left:22px;float:left;
}
.index_item_info_right {
	padding-right:22px;float:right;
}
#physics_news_area .index_item_info, #physics_news_area .index_title{
	color:#007768;
}

#top_act_area .index_item_info, #top_act_area .index_title{
	color:#C51F00;
}
#hot_post_area .index_item_info, #hot_post_area .index_title{
	color:#6D0E6A;
}
#hot_college_area .index_title{
	color:#A2A012;
}
#recmd_course_area .index_title{
	color:#9A7016;
}
.index_item_hot .flag {
	float:left;padding-left:5px;padding-top: 27px;
}
.index_item_hot_content{
	font-family:Segoe UI;font-size:12pt;color:#6D0E6A;vertical-align:middle;
}
#recmd_course_area .index_item{
	height:287px;padding:19px 5px 19px 15px;
}
.recmd_course_info_text1{
padding-top:60px;padding-left:5px;font-family:Segoe UI;font-size:12pt;text-align:center;
}
.recmd_course_info_text2{
padding:15px 0 0 5px;font-family:Segoe UI;font-size:12pt;text-align:center;
}

.recmd_course_info_img{
width:140px;position:relative;float:right;top:30px;
}
.recmd_course_info{
	padding-left:309px;
}
.recmd_course_info table{
float:left;display:inline;overflow:hidden;
}
.recmd_course_info table tr{
	width:165px;
}
.recmd_course_content{
	float:left;
}
.recmd_course_content_title{
	width:309px;font-size:11pt;font-family:Segoe UI;font-color:blue;margin-top:10px;
}
.recmd_course_info_text{
width:155px;float:left;
}

#bottom_menu ul li{
	float:left;list-style-type:none;margin:10px;font-size:12pt;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;margin-top:20px;width:1024px">

	<div style="float:left;margin-right:16px;width:628px;">
		<div id="physics_news_area" style="float:left;margin-right:12px;width:308px;">
			<div class="index_title">
				<span style="float:left">物理前沿</span>
				<span style="float:right">更多>></span>
				<span>&nbsp;</span>
			</div>
			<div style="width:308px;height:7px;background-color:#007768;">&nbsp;</div>
			<div class="index_item">
				<div class="index_item_content">
					<span>Opening Doors to Engineering</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_left">南京大学</span>
						<span class="index_item_info_right">Nature杂志</span>
					</div>
				</div>
			</div>
			<div class="index_item">
				<div class="index_item_content">
					<span>高校“基础学科拔尖计划”首批毕业生95%继续深造</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_left">南京大学</span>
						<span class="index_item_info_right">Nature杂志</span>
					</div>
				</div>
			</div>
			<div class="index_item">
				<div class="index_item_content">
					<span>Opening Doors to Engineering</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_left">南京大学</span>
						<span class="index_item_info_right">Nature杂志</span>
					</div>
				</div>
			</div>
			<div class="index_item">
				<div class="index_item_content">
					<span>Opening Doors to Engineering</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_left">南京大学</span>
						<span class="index_item_info_right">Nature杂志</span>
					</div>
				</div>
			</div>
		</div>
		<div id="top_act_area" style="float:left;width:308px;">
			<div class="index_title">
				<span style="float:left">活动</span>
				<span style="float:right">更多>></span>
				<span>&nbsp;</span>
			</div>
			<div style="width:308px;height:7px;background-color:#C51F00;">&nbsp;</div>

			<div class="index_item">
				<div class="index_item_content">
					<span>学生社区2014年师生线上交流大会将在3月28号举行</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_right">北京大学&nbsp;&nbsp;2014-3-15</span>
					</div>
				</div>
			</div>
			<div class="index_item">
				<div class="index_item_content">
					<span>学生社区2014年师生线上交流大会将在3月28号举行</span>
				</div>
				<div class="index_item_info">
					<div>
						<span class="index_item_info_right">北京大学&nbsp;&nbsp;2014-3-15</span>
					</div>
				</div>
			</div>
		</div>
		<div id="recmd_course_area" style="clear:both;width:628px;display:block;">
			<div class="index_title">
				<span style="float:left">推荐课程</span>
				<span style="float:right">更多>></span>
				<span>&nbsp;</span>
			</div>
			<div style="width:628px;height:7px;background-color:#9A7016;">&nbsp;</div>
			<div class="index_item">
				<div class="recmd_course_content">
					<img src="__PUBLIC__/assets/image/course_1.png" width="309px" height="195px" />
					<div class="recmd_course_content_title">理解爱因斯坦：狭义相对论 Understanding Einstein: Understanding Einstein: The Special Theory of Relativity</div>
				</div>
				<div class="recmd_course_info">
					<div class="recmd_course_info_text">
						<div class="recmd_course_info_text1">斯坦福大学 </div>
						<div class="recmd_course_info_text2">Stanford University</div>
						<div class="recmd_course_info_text2">
							教授：Larry Randles Larry Randles Randles
						</div>
					</div>
					<div class="recmd_course_info_img">
						<img src="__PUBLIC__/assets/image/teacher_1.png" width="140px" />
					</div>
				</div>
			</div>
			<div class="index_item">
				<div class="recmd_course_content">
					<img src="__PUBLIC__/assets/image/course_1.png" width="309px" height="195px" />
					<div class="recmd_course_content_title">理解爱因斯坦：狭义相对论 Understanding Einstein: Understanding Einstein: The Special Theory of Relativity</div>
				</div>
				<div class="recmd_course_info">
					<div class="recmd_course_info_text">
						<div class="recmd_course_info_text1">斯坦福大学 </div>
						<div class="recmd_course_info_text2">Stanford University</div>
						<div class="recmd_course_info_text2">
							教授：Larry Randles Larry Randles Randles
						</div>
					</div>
					<div class="recmd_course_info_img">
						<img src="__PUBLIC__/assets/image/teacher_1.png" width="140px" />
					</div>
				</div>
			</div>
		</div>
	</div>


	<div style="float:left;width:380px;">
		<div id="hot_post_area" style="float:left;margin-right:12px;width:380px;">
			<div class="index_title">
				<span style="float:left">学生社区热点</span>
				<span style="float:right">更多>></span>
				<span>&nbsp;</span>
			</div>
			<div style="height:7px;background-color:#6D0E6A;">&nbsp;</div>
			<div class="index_item index_item_hot">
				<div class="flag">
					<span><img src="__PUBLIC__/assets/image/post_1.png" /></span>
				</div>
				<div style="float:right;width:203px;height:169px;padding-top:27px;">
					<table width="100%" height="100%">
						<tr><td class="index_item_hot_content">学生社区第二次线上交流大会将于3月28号晚8点开始</td></tr>
					</table>
				</div>
			</div>
			<div class="index_item index_item_hot">
				<div class="flag">
					<span><img src="__PUBLIC__/assets/image/post_1.png" /></span>
				</div>
				<div style="float:right;width:203px;height:169px;padding-top:27px;">
					<table width="100%" height="100%">
						<tr><td class="index_item_hot_content">学生社区第二次线上交流大会将于3月28号晚8点开始</td></tr>
					</table>
				</div>
			</div>
			<div class="index_item index_item_hot">
				<div class="flag">
					<span><img src="__PUBLIC__/assets/image/post_1.png" /></span>
				</div>
				<div style="float:right;width:203px;height:169px;padding-top:27px;">
					<table width="100%" height="100%">
						<tr><td class="index_item_hot_content">学生社区第二次线上交流大会将于3月28号晚8点开始</td></tr>
					</table>
				</div>
			</div>
		</div>

		<div id="hot_college_area" style="float:left;margin-right:12px;width:380px;">
			<div class="index_title">
				<span style="float:left">名校链接</span>
				<span>&nbsp;</span>
			</div>
			<div style="height:7px;background-color:#A2A012;">&nbsp;</div>
			<div style="background-color:rgb(234,234,234);width:189px;margin-right:2px;margin-bottom:2px;height:207px;float:left">
				<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_1.png" /></div>
			</div>
			<div style="background-color:rgb(234,234,234);width:189px;margin-bottom:2px;height:207px;float:left">
				<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_2.png" /></div>
			</div>
			<div style="background-color:rgb(234,234,234);width:189px;margin-right:2px;height:207px;float:left">
				<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_3.png" /></div>
			</div>
			<div style="background-color:rgb(234,234,234);width:189px;height:207px;float:left">
				<div style="margin-top:10px;margin-left:14px;"><img src="__PUBLIC__/assets/image/index_book_4.png" /></div>
			</div>
		</div>
	</div>

</div>




<div id="bottom_nav" style="height:200px;background-color:black;clear:both;margin-top:45px;width:100%;">
	<div class="container" id="bottom_nav_container" style="color:white;width:1024px;">
		<div style="float:left;"><img src="__PUBLIC__/assets/image/index_bottom_flag.png" /></div>
		<div style="float:left;width:490px">
			<div style="font-size:24pt;margin-top:50px">全国物理学科拔尖人才培养计划</div>
			<div style="font-size:16pt;">Training Plan Of Physics Subject Top-notch Talent</div>
			<div id="bottom_menu" style="">
				<ul>
					<li>关于我们</li>
					<li>联系方式</li>
					<li>隐私政策</li>
					<li>帮助</li>
				</ul>
			</div>
		</div>
		<div style="float:right;top:158px;position:relative;">
			版权归@南京大学所有
		</div>
	</div>
</div>

<script>
//修正顶底两端宽度
function RepairNav(){
	//var ev = e || window.event;
	if(document.body.scrollWidth <=1024){
		document.getElementById('top_nav').style.width = "1024px";
		document.getElementById('bottom_nav').style.width ="1024px";
	} else {
		document.getElementById('top_nav').style.width = document.body.scrollWidth + "px";
		document.getElementById('bottom_nav').style.width = document.body.scrollWidth + "px";
	}
	//alert(document.body.scrollWidth);
}
RepairNav();
window.onresize = function(e){
	var ev =e || window.event;
	//console.log(ev);
	document.getElementById('top_nav').style.width = "1024px";
	document.getElementById('bottom_nav').style.width = "1024px";
	setTimeout(RepairNav, 200);
};

</script>

  </body>

  </html>