
<style>
.league_left{
	margin-left: 10px;
}
.league_display{
	font-style: normal;
	font-size: 16pt;
	color:rgb(35,17,103);
	margin: 40px 0 0 10px;
	padding: 0 0 7px 30px;
}
.league_bar{
	margin: 10px 0;
	border-bottom: rgb(35,17,103) solid 2px;
}
.college_list{
	width:100%;
}
.college_item{
	margin: 10px;
	text-align: center;
}
.college_name{
	font-size: 14pt;
	margin: 5px 10px;
	font-style: normal;
}
</style>

<div class="league_left" style="width:210px;float:left;">
	<div class="league_display">高校联盟</div>
	<div class="league_bar" style="margin:0 0 0 0px;"></div>
	<div class="college_list">
		<div class="college_item">
			<img src="__PUBLIC__/assets/image/glogo_nju.png" width="90px" height="110px" />
			<div class="college_name">南京大学</div>
		</div>
		<div class="college_item">
			<img src="__PUBLIC__/assets/image/glogo_pku.png" width="90px" height="110px" />
			<div class="college_name">北京大学</div>
		</div>
		<div class="college_item">
			<img src="__PUBLIC__/assets/image/glogo_nju.png" width="90px" height="110px" />
			<div class="college_name">南京大学</div>
		</div>
	</div>
</div>