


<div id="start" style="height:56px;background-color:rgb([bgcolor]);color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;">
	<span style="display:none;display:[display0];float:left;">
		<a href="[href0]" style="color:white;font-style:normal;" title="[title0]">[title0]</a>&gt;
	</span>
	<span style="display:none;display:[display1];float:left;">
		<a href="[href1]" style="color:white;font-style:normal;" title="[title1]">[title1]</a>&gt;
	</span>
	<span style="display:none;display:[display2];float:left;">
		<a href="[href2]" style="color:white;font-style:normal;" title="[title2]">[title2]</a>&gt;
	</span>
	<span style="display:none;display:[display3];float:left;">
		<a href="[href3]" style="color:white;font-style:normal;" title="[title3]">[title3]</a>&gt;
	</span>
</div>
