 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{$page_title}</title>
    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- SmartAddon.com Verification -->
    <meta name="smartaddon-verification" content="936e8d43184bc47ef34e25e426c508fe" />
    <link rel="shortcut-icon" href="__PUBLIC__/bootflat/favicon_16.ico"/>
    <link rel="bookmark" href="__PUBLIC__/bootflat/favicon_16.ico"/>
    <!-- site css -->
    <link rel="stylesheet" href="__PUBLIC__/bootflat/css/site.min.css">

    <!-- <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'> -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="__PUBLIC__/bootflat/js/html5shiv.js"></script>
      <script src="__PUBLIC__/bootflat/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__PUBLIC__/bootflat/js/site.min.js"></script>


    <script type="text/javascript" src="__PUBLIC__/jquery-1.11.1.js"></script>

	<link rel="stylesheet" href="__PUBLIC__/assets/css/eds-base.css" />
<script>
function CEdsFramework(){ this.metadata = new Array();this.push=function(item){this.metadata.push(item);}}
var eds_framework = new CEdsFramework();
</script>
  </head>
  <body style="background-color: white;"><!--#f1f2f6-->
<?php  ?>

<!--弹出窗口及窗口类-->
<div class="alert alert-danger" id="g_alert">
  <a href="#g_alert" id="a_g_alert" style="display:none"></a>
  <button type="button" class="close eds_window_btn_close" id="g_alert_btn_close" data-dismiss="alert" aria-hidden="true">×</button>
  <h4 class="alert-heading">Error!</h4>
  <div id="g_alert_text"></div>
</div>
<div class="alert alert-info  alert-dismissable" id="g_info" >
  <a href="#g_info" id="a_g_info" style="display:none"></a>
  <button type="button" class="close eds_window_btn_close" id="g_info_btn_close" data-dismiss="alert" aria-hidden="true">×</button>
  <div id="g_info_text"></div>
</div>
<div id="shielding_layer" style="display:none;position:absolute;top:0;left:0;background-color:#ffffff;filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;z-index:10000;">
</div>
<script language="javascript">
function CDialog(){
	/*private*/
	this.start_index = 10000000;
	this.old_index = new Array();
	this.old_display = new Array();
	var shielding_layer = $('#shielding_layer');
	var g_alert = $('#g_alert');
	var g_alert_text = $('#g_alert_text');
	var g_info = $('#g_info');
	var g_info_text = $('#g_info_text');

	this.old_index.push(shielding_layer.css('z-index'));
	this.old_display.push(shielding_layer.css('display'));

	this.add_shield_layer = function(){
		this.old_index.push(shielding_layer.css('z-index'));
		this.old_display.push(shielding_layer.css('display'));
		shielding_layer.css('z-index',this.start_index);
		shielding_layer.css('display', 'block');
		this.start_index += 100;
		return this.start_index - 99;
	}
	this.show_alert = function(text,callback){
		var zi = this.add_shield_layer();
		g_alert.css('z-index',zi);
		g_alert_text.text(text);
		g_alert.show();
		//$('#a_g_alert').trigger('click');
		document.getElementById("a_g_alert").click();
		if(callback){
			var t = function(){
				callback();
				var temp = arguments.callee;
				$('#g_alert_btn_close').unbind("click",temp);
			};
			$('#g_alert_btn_close').bind("click", t);
		}
	}
	this.show_info = function(text,callback){
		var zi = this.add_shield_layer();
		g_info.css('z-index',zi);
		g_info_text.text(text);
		g_info.show();
		document.getElementById("a_g_info").click();
		if(callback){
			var t = function(){
				callback();
				var temp = arguments.callee;
				$('#g_info_btn_close').unbind("click",temp);
			};
			$('#g_info_btn_close').bind("click", t);
		}
	}
	this.restore_shield_layer = function(){
		if(this.old_index.length > 1){
			shielding_layer.css('z-index', this.old_index.pop());
			shielding_layer.css('display', this.old_display.pop());
		} else {
			shielding_layer.css('z-index', this.old_index[0]);
			shielding_layer.css('display', this.old_display[0]);
		}
	}
	this.init = function(){
		$('.eds_window_btn_close').click(function(e){
			$(this).parent().hide();
			cdialog.restore_shield_layer();
			return false;
		});
	}
}
var cdialog = new CDialog();
CEdsFramework.prototype.error_handler = function(url,response_object,error_hint){
	if(error_hint){ 
		cdialog.show_alert(error_hint.replace('{status}', response_object.status).replace('{statusText}',response_object.statusText));
	} else { 
		cdialog.show_alert('操作失败！错误信息：url="'+url+'", status='+response_object.status+',text="'+ response_object.statusText+'",respText='+response_object.responseText);
	}
	if(console&&console.error){
		console.error("[EDS][loading(url=\""+url+"\") failed.]"); 
		console.error(response_object); 
	}
}
</script>
<!--登录界面及登录类-->
<div id="login_form" style="display:none;position:absolute;margin:0 auto;width:400px;top:200px;z-index:10001;text-align:center;">
	<form style="background-color:rgb(234,234,234);padding:20px;">
		<ul>
			<li>
				<div id="login_form_field_raccount" style="text-align:left">
					<span class="login_form_label">账号</span>
					<span class="login_form_tip" id="login_form_tip_raccount">账号长度不能小于6！</span>
					<input type="text" class="form-control" name="raccount" id="raccount" placeholder="Account input" id="inputError" />
				</div>
			</li>
			<li>
				<div  id="login_form_field_rpassword" style="text-align:left">
					<span class="login_form_label">密码</span>
					<span class="login_form_tip" id="login_form_tip_rpassword">密码长度不能小于6！</span>
					<input type="password" class="form-control" name="rpassword" id="rpassword" placeholder="Password input">
				</div>
				
			</li>
			<li>
				<button type="button" id="login_form_ok" class="login_form_btn btn btn-info btn-block">登录</button>
				<button type="button" id="login_form_cancel" class="login_form_btn btn btn-block">取消</button>
			</li>
		</ul>
	</form>
</div>
<!--nav-->
<nav id="top_nav" class="navbar navbar-default navbar-custom" role="navigation" style="height:108px;background-color:black;position:inherit;margin-bottom:10px;">
	<div class="container" style="width:1024px;">
		<ul class="frame_top_info_ul">
				<li>
					<div style="display:none;cursor:pointer;float:right;">您好，<span id="btn_rnickname" >nickname</span>！</div>
				</li>
				<li>
					<div id="btn_logoff" style="float:right;color:white;padding-left:10px;padding-right:10px;display:none;cursor:pointer;">
						注销
					</div>
				</li>
				<li>
					<div id="btn_login" style="padding-right:10px;cursor:pointer;">登录</div>
				</li>
		</ul>
		<div class="navbar-header" height="108px;">
			<div style="position:relative;top:15px;">
				<div style="font-size:24pt;">
					<a href="__ROOT__" style="color:white;">全国物理拔尖人才培养计划</a>
					<span style="font-size:12pt;display:none;color:red;">（<span id="user_mode_hint"></span>模式）</span>
				</div>
			</div>
			<div style="margin-top:13px;">
				<a style="font-size:16pt;color:white;">Training Plan Of Physics Subject Top-notch Talent</a>
			</div>
			
		</div>
	</div>
</nav>
<div class="topic" style="color:black;padding-bottom:10px;padding-top:0;">
	<div class="container" style="padding:0px 0 0;width:1024px">
		<span style="padding-right:7px;width:129px;height:128px;">
			<a href="__ROOT__/Home/Index"><img src="__PUBLIC__/assets/image/nav_index.png" width="118px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:130px;height:128px;">
			<a href="__ROOT__/Home/Plan"><img src="__PUBLIC__/assets/image/nav_plan.png" width="119px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:129px;height:128px;">
			<a href="__ROOT__/Home/News"><img src="__PUBLIC__/assets/image/nav_news.png" width="118px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:130px;height:128px;">
			<a href="__ROOT__/Home/League"><img src="__PUBLIC__/assets/image/nav_league.png" width="119px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:129px;height:128px;">
			<a href="__ROOT__/Home/Notice"><img src="__PUBLIC__/assets/image/nav_notice.png" width="118px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:130px;height:128px;">
			<a href="__ROOT__/Home/Ex"><img src="__PUBLIC__/assets/image/nav_ex.png" width="118px" height="128px" /></a>
		</span>
		<span style="padding-right:7px;width:129px;height:128px;">
			<a href="__ROOT__/Home/Course"><img src="__PUBLIC__/assets/image/nav_course.png" width="118px" height="128px" /></a>
		</span>
		<span style="width:118px;height:128px;">
			<a href="__ROOT__/Home/Bbs"><img src="__PUBLIC__/assets/image/nav_bbs.png" width="118px" height="128px" /></a>
		</span>
	</div>
</div>

<script language="javascript">
function CLogin(){
	this.raccount = $('#raccount');
	this.rpassword = $('#rpassword');
	this.login_form = $('#login_form');
	this.shielding_layer = $('#shielding_layer');
	this.btn_ok = $('#login_form_ok');
	this.btn_cancel = $('#login_form_cancel');
	this.callback_func_array = new Array();//登录后的回调函数
	//var has_login_btn_clicked = false;
	//修正顶底两端宽度，以及登录框、alert、info框的left属性
	this.repair_nav = function (){
		//var ev = e || window.event;
		var w = document.body.scrollWidth + 'px';
		if(document.body.scrollWidth <=1024){
			$('#top_nav').css('width',"1024px");
			$('#bottom_nav').css('width',"1024px");
			this.shielding_layer.css('width', "1024px");
			this.shielding_layer.css('height', document.body.scrollHeight + 'px');
		} else {
			$('#top_nav').css('width', w);
			$('#bottom_nav').css('width', w);
			this.shielding_layer.css('width', w);
			this.shielding_layer.css('height', document.body.scrollHeight + 'px');
		}
		$('#login_form').css('left', ((document.body.scrollWidth - 400)/2)+"px");
		$('#g_alert').css('left', ((document.body.scrollWidth - 600)/2)+"px");
		$('#g_info').css('left', ((document.body.scrollWidth - 600)/2)+"px");
		//alert(document.body.scrollWidth);
	};
	this.show_login_window = function (){
		var zindex = cdialog.add_shield_layer();
		this.login_form.css('z-index',zindex).show();
	};
	this.close_login_window = function (){this.login_form.hide();cdialog.restore_shield_layer();};
	this.validate_account =function(){
		if(this.raccount.val().length < 6){
			$('#login_form_field_raccount').attr('class','has-error');
			$('#login_form_tip_raccount').show();
			this.raccount.focus();
			return false;
		}
		$('#login_form_field_raccount').attr('class','');
		$('#login_form_tip_raccount').hide();
		return true;
	};
	this.validate_password =function(){
		if(this.rpassword.val().length < 6){
			$('#login_form_field_rpassword').attr('class','has-error');
			$('#login_form_tip_rpassword').show();
			this.rpassword.focus();
			return false;
		} else {
			$('#login_form_field_rpassword').attr('class','');
			$('#login_form_tip_rpassword').hide();
		}
		return true;
	}
	this.validate = function (){ return this.validate_account() && this.validate_password(); }
	this.login = function (){
		if(!this.validate()) return false;
		this.callback_func_array.push(function(){
			cdialog.show_info('登录成功！');
		});
		this.btn_ok.attr('disabled', true);
		this.btn_cancel.attr('disabled', true);
		$.ajax({
			url:'__ROOT__/Home/Index/login',
			type:'post',
			data:{raccount:this.raccount.val(),rpassword:this.rpassword.val()},
			dataType:'json',
			success:function(data,status,ajax_object){
				if(data.result != 0){
					cdialog.show_alert('登录失败！错误信息：'+data.msg);
					clogin.btn_ok.attr('disabled', false);
					clogin.btn_cancel.attr('disabled', false);
					return;
				}
				clogin.close_login_window();
				clogin.callback_func();
				clogin.btn_ok.attr('disabled', false);
				clogin.btn_cancel.attr('disabled', false);
				window.location.reload(true);
			},
			error:function(t){
				clogin.btn_ok.attr('disabled', false);
				clogin.btn_cancel.attr('disabled', false);
				//console.log(t);
				cdialog.show_alert('登录失败！('+t.status+': '+t.statusText+')');
			}
		});
	};
	this.callback_func = function(){
		var i = 0;
		for(;i<this.callback_func_array.length;i++){
			(this.callback_func_array[i])();
		}
	}
	this.init = function(){
		var curobj = this;
		this.repair_nav();
		this.raccount.keyup(function(){curobj.validate_account();});
		this.rpassword.keyup(function(){curobj.validate_password();});//弹出框
		this.btn_ok.click(function(){curobj.login();});
		this.btn_cancel.click(function(){curobj.close_login_window();});
		$('#btn_login').click(function(){curobj.show_login_window();});
		$('#btn_logoff').click(function(){
			$.ajax({
				url:'__ROOT__/Home/Index/logoff',
				success:function(){
					window.location.reload(true);
				},
				error:function(t){eds_framework.error_handler('__ROOT__/Home/Index/logoff',t);}
			});
		});
	}
	this.updateUi = function(mode,rnickname){
		if(mode){
			$('span#user_mode_hint').text(mode).parent().show();
		} else {
			$('span#user_mode_hint').parent().hide();
		}
		if(rnickname){
			$('span#btn_rnickname').text(rnickname).parent().show();
			$('div#btn_logoff').show();
			$('div#btn_login').hide();
		} else {
			$('span#btn_rnickname').parent().hide();
			$('div#btn_logoff').hide();
			$('div#btn_login').show();
		}
	}
}
var clogin = new CLogin();
</script>
<div class="container" style="padding-left:0px;padding-right:0px;margin-top:5px;width:1024px">
	{__REEPLACE__}
</div>

<div id="bottom_nav" style="height:200px;background-color:black;clear:both;margin-top:45px;width:100%;">
	<div class="container" id="bottom_nav_container" style="color:white;width:1024px;">
		<div style="float:left;"><img src="__PUBLIC__/assets/image/index_bottom_flag.png" /></div>
		<div style="float:left;width:490px">
			<div style="font-size:24pt;margin-top:50px">全国物理学科拔尖人才培养计划</div>
			<div style="font-size:16pt;">Training Plan Of Physics Subject Top-notch Talent</div>
			<div id="frame_bottom_menu" style="display:none">
				<ul>
					<li>关于我们</li>
					<li>联系方式</li>
					<li>隐私政策</li>
					<li>帮助</li>
				</ul>
			</div>
		</div>
		<div style="float:right;top:158px;position:relative;font-style:normal;">
			版权归@EDS网站制作实验室所有
		</div>
	</div>
</div>


<div id="delete_item_div" style="display:none;position:absolute;width:10px;height:10px;font-size:30px;color:red;text-align:center;">X</div>


  </body>

<script language="javascript">



CEdsFramework.prototype.load = function(){
	var i;
	for(i = 0;i<this.metadata.length;i++){
		if(this.metadata[i].load){
			(function(eds_framework,item){
				if(item.load.clear){ $(item.load.elem).html(''); }
				$.ajax({ url:item.load.url, type:item.load.action || "get", data:item.load.data || {}, dataType:'json',
					success:function(t,s,r){
						if(t.result == 0){
							if(item.load.handler){
								item.load.handler(t.data);
							} else {
								$.each(t.data,function(n,value){
									var e = item.load.tpl;
									if(item.load.tpl_args){
										$.each(item.load.tpl_args,function(k,v){ e = e.replace(v, value[v.substring(1,v.length-1)]); });
									} else { e = e.replace(/{([^}]*)}/g, function(m){return value[RegExp.$1];}); }
									$(item.load.parent).append(e);
								});
								if(item.rmv){
									$(item.rmv.parent).prepend('<div style="float:right;position:relative;margin-top:8px;margin-right:0px;font-size:26px;color:red;font-weight:700;cursor:pointer;z-index:10;" onclick="remove_phynews_item(3)" title="删除此项">&nbsp;X&nbsp;</div>');
								}
							}
						} else {
							cdialog.show_alert('错误：'+t.msg);
						}
					},
					error:function(t){eds_framework.error_handler(item.load.url,t,item.load.error);}
				});
			})(this,this.metadata[i]);
		}
	}
}

$(document).ready(function(){
	cdialog.init();
	clogin.init();
	$(window).resize(function(){
		$('nav#top_nav').css('width', "1024px");
		$('div#bottom_nav').css('width', "1024px");
		setTimeout(function(){clogin.repair_nav();}, 150);
	});
	$('#delete_item_div').mouseleave(function(e){
		$(e.currentTarget).hide();
		// console.log($(e.currentTarget).css('display'));
		return false;
	});
	eds_framework.push({
		load:{
			url:"__ROOT__/Home/Index/user_conscise_info",
			action:"post",
			data:{},
			error:'加载用户信息失败！{status}:{statusText}',
			handler:function(data){clogin.updateUi(data.mode,data.rnickname);}
		}
	});
	eds_framework.load();
	<?php if(isset($cond_logined) && $cond_logined && session('g_logined')!='logined'){ ?>
		$('#btn_login').click();
	<?php } ?>
});


</script>

  </html>