

<div class="container" style="padding-left:0px;padding-right:0px;margin-bottom:10px;width:1024px;">
		<div style="float:left;width:287px;">
			<img src="__PUBLIC__/assets/image/[pic1].png"  width="287px" height="187px" />
			<img src="__PUBLIC__/assets/image/[pic2].png"  width="287px" height="187px" />
		</div>
		<div style="float:left;position:relative">
			<img src="__PUBLIC__/assets/image/mottopic_1.png" width="734px" height="374px" />
			<div style="position:absolute;top:164px;left:358px;width:365px;color:white;font-size:14pt;font-family:Segoe UI;">
				<i>"try not to become a man of success but rather to become a man of value"<i>
			</div>
		</div>
</div>

