
<style>
.tip-number{
cursor:pointer;width:20px;background-color:black;color:white;float:right;margin-right:4px;text-align:center;
}
#news_title_plain{
	font-size: 14pt;
}
</style>

<div class="container" style="padding-left:0px;margin-bottom:10px;background-color:rgb(35,17,103);width:1024px;">
	<span><img src="__PUBLIC__/assets/image/head_index.png" width="677px" height="342px" /></span>
	<span style="float:right;width:320px;color:white;">
		<div style="top:120px;line-height:40px;position:relative;height:120px;">
			<div id="_news_title" style="display:none;">
				<img src="__PUBLIC__/assets/image/plan_arrow.png" />
				<span>
					<a href="#" id="news_title_plain" style="color:white;" title=""></a>
				</span>
			</div>
		</div>
		<div style="text-align:right;width:320px;right:10px;position:relative;top:180px;">
			<volist name="hotnews_list" id="hotnews_vo" key="k">
				<?php $k2 = count($hotnews_list)-$k+1; ?>
				<div class="tip-number" id="btn_slide_news_title_{$k2}">{$k2}</div>
			</volist>
		</div>
	</span>
</div>

<script>
(function(){
	var cur_index = 1;
	var total_count = <?php echo count($hotnews_list); ?>;
	var switch_news = function (pid){
		cur_index = pid;
		$('#_news_title').hide(300);
		setTimeout((function(){change_title(pid-1);}),400);
	};
	var change_title = function (pid){
		var titles = [
			<volist name="hotnews_list" id="hotnews_vo" key="k">
				'{$hotnews_vo.ztitle}'
				<?php if(count($hotnews_list)!=$k){ ?>,<?php } ?>
			</volist>
		];
		var hrefs = [
			<volist name="hotnews_list" id="hotnews_vo" key="k">
				'<?php 
				if($hotnews_vo['kztype']==0){
					?>__ROOT__/Home/News/detail?zid={$hotnews_vo.kzid}<?php
				} else if($hotnews_vo['kztype']==3){
					?>__ROOT__/Home/Plan/project_dtl?zid={$hotnews_vo.kzid}#plan_title_span<?php
				} else if($hotnews_vo['kztype']==4){
					?>__ROOT__/Home/Notice/detail?zid={$hotnews_vo.kzid}#start<?php
				} else if($hotnews_vo['kztype']==5 || $hotnews_vo['kztype']==6 || $hotnews_vo['kztype']==9){
					?>__ROOT__/Home/Ex/detail?zid={$hotnews_vo.kzid}#start<?php
				} else {
					?>#<?php
				}
				?>'
				<?php if(count($hotnews_list)!=$k){ ?>,<?php } ?>
			</volist>
		];
		$('#news_title_plain').text(titles[pid]).attr('href',hrefs[pid]).attr('title',titles[pid]);
		$('#_news_title').show(300);
	};
	var mouse_in = false;
	var switch_news_timer = setInterval((function(){
		if(mouse_in)return;
		if(cur_index < total_count){
			cur_index ++;
		} else {
			cur_index = 1;
		}
		switch_news(cur_index);
	}),5000);
	var init = function(){
		var i;
		change_title(0);
		for(i = 1;i <= <?php echo count($hotnews_list); ?>; i++){
			(function(i){
				$('#btn_slide_news_title_'+i).click(function(){
					switch_news(i);
				})
				$('#btn_slide_news_title_'+i).mouseenter(function(){
					switch_news(i);
					mouse_in = true;
				});
				$('#btn_slide_news_title_'+i).mouseleave(function(){
					mouse_in = false;
				});
			})(i);
		}
	}
	init();
})();



</script>