<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="course_right" pic2="course_book"  />


<style>
.cw_items{
	margin-top: 40px;
	margin-left: 15px;
}
.cw_item{
	margin-top:10px;
	margin-bottom:10px;
	line-height: 30px;
	height:40px;
}
.cw_item_pic{
	float:left;
}
.cw_item_title{
	font-size: 16pt;
	font-style: normal;
	color:rgb(2,183,230);
	margin: 10px;
}
.cw_item_author{
	font-size: 14pt;
	font-style: normal;
	color:rgb(2,183,230);
	float:right;
	margin: 5px 5px;
}
.cw_vertical_sperator{
border-right:rgb(2,183,230) 2px solid;height:340px;float:left;margin-left:50px;margin-right:40px;margin-top:100px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="2,183,230" display0="inline-block" display1="block" display2="block"
	title0="虚拟学院" href0="__ROOT__/Home/Course" title1="课程课件" href1="__ROOT__/Home/Course/cw#start" title2="2014年秋季" href2="#start" />
	<div style="margin:50px 25px;padding:0;">
		<div style="width:426px;float:left;">
			<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">
				<span class="">2014级</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;width:400px;"></div>
			<div class="cw_items">
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
			</div>
		</div>

		<div class="cw_vertical_sperator"></div>
		<div style="width:974px;padding-left:506px;">
			<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">
				<span class="">2013级</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;width:400px;"></div>
			<div class="cw_items">
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
			</div>
		</div>





	<div style="clear:both;padding-top:30px;">

		<div style="width:426px;float:left;">
			<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">
				<span class="">2012级</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;width:400px;"></div>
			<div class="cw_items">
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
			</div>
		</div>

		<div class="cw_vertical_sperator"></div>
		<div style="width:974px;padding-left:496px;">
			<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">
				<span class="">2011级</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;width:400px;"></div>
			<div class="cw_items">
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
				<div class="cw_item">
					<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
					<span class="cw_item_title"><a href="__ROOT__/Home/Course/cw_dtl?id=1#start">物理力学</a></span>
					<span class="cw_item_author">李教授</span>
				</div>
			</div>
		</div>
	</div>
		




	</div>
</div>


