<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="course_right" pic2="course_book"  />


<style>
.cw_dtl_list{
	margin-top:30px;
}
.cw_dtl_list_item{
	height:40px;
}
.cw_dtl_list_item .title{
	font-size: 16pt;
	font-style: normal;
	color:rgb(2,183,230);
	margin: 10px;
}
.cw_dtl_list_item .time{
	font-size: 11pt;
	font-style: normal;
	color:rgb(2,183,230);
	float:right;
	margin: 5px 5px;
	padding-right: 20px;
}
.cw_dtl_title{
	font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;
}
.cw_dtl_courseinfo{
	padding-top: 20px;
}
.cw_dtl_courseinfo li, .tah_item li{
	list-style-type: none;
	line-height: 45px;
	color:rgb(2,183,230);
	font-style: normal;
	font-size:14pt;
	padding-left: 120px;
}
.tah_item{
	margin-top: 25px;
}
.tah_item li{
	line-height: 35px;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);font-style:normal;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="2,183,230" display0="inline-block" display1="block" display2="none" display3="block"
	title0="虚拟学院" href0="__ROOT__/Home/Course" title1="课程课件" href1="__ROOT__/Home/Course/cw#start" title2="2014年秋季" href2="#start"
	title3="{$fname}" href3="__ROOT__/Home/Course/cw_dtl?fid={$fid}#start" />
	<div style="margin:50px 25px;padding:0;">
		<div style="float:left;width:500px">
			<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">
				<span class="">课件列表</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;width:480px;"></div>
			<div class="cw_dtl_list">
				<?php if(count($cw_list) == 0){ ?>
					<div class="cw_dtl_list_item">
						暂无课件
					</div>
				<?php } ?>
				<volist name="cw_list" id="cw_vo" key="k" >
					<div class="cw_dtl_list_item">
						<img src="__PUBLIC__/assets/image/course_cw_item.png"  class="cw_item_pic"/>
						<span class="title" title="点击下载"><a href="__ROOT__/Home/Course/download?eid={$cw_vo.eid}">{$cw_vo.etitle}</a></span>
						<span class="time">{$cw_vo.elast_edited_time}</span>
					</div>
				</volist>
			</div>
		</div>


		<div style="width:974px;padding-left:520px;padding-right:0px;">
			<div class="cw_dtl_title">
				<span class="">课程信息</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;"></div>
			<div style="margin-bottom:20px;">
				<img src="__PUBLIC__/assets/image/course_cw_book.png"  style="float:left;margin-top:15px;" />
				<div class="cw_dtl_courseinfo">
					<ul>
						<li>
							<span>课程名称：<span>{$fname}</span></span>
						</li>
						<li>
							<span>课程时间：<span>{$fterm_name}</span></span>
						</li>
						<li>
							<span>上课地点：<span>{$faddr}</span></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="cw_dtl_title">
				<span class="">课程负责人</span><span></span>
			</div>
			<div style="border-bottom:rgb(2,183,230) 2px solid;"></div>
			<div class="tah_items">
				<volist name="ta_list" id="ta_vo" key="k">
					<div class="tah_item">
						<img width="119px" height="135px"
						<?php if($ta_vo['uphoto'] == ''){?> 
							src="__PUBLIC__/assets/image/course_cw_teacher.png" 
						<?php } else { ?> 
							src="__PUBLIC__/uploads{$ta_vo.uphoto}" 
						<?php } ?>
						 style="float:left;" />
						<div class="info">
							<ul>
								<li>
									<span><span>{$ta_vo.uname}</span>（<span>{$ta_vo.uchar_name}</span>）</span>
								</li>
								<li>
									<span>电话：<span>{$ta_vo.utel}</span></span>
								</li>
								<li>
									<span>邮箱：<span>{$ta_vo.uemail}</span></span>
								</li>
								<li>
									<span>办公室：<span>{$ta_vo.uoffice_addr}</span></span>
								</li>
							</ul>
						</div>
					</div>
				</volist>
			</div>
		</div>

	</div>
</div>


