<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="course_right" pic2="course_book" />

<style>
#start {
	height:56px;background-color:rgb(2,183,230);
	color:white;font-size:16pt;font-family:'Segoe UI';
	padding:10px 15px;font-style:normal;
}
#start a{
	color:white;
}



</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;font-style:normal;">
	<div id="start" style="">
		<a href="index">虚拟学院</a> &gt; <a href="__ROOT__/Home/Course/netcourse?page=0#start">网络课程</a>
	</div>

	
	<div style="margin:50px;">
		<div style="margin:10px 0;">
			<div style="width:525px;float:left;margin:100px 20px;text-align:center;font-size:16pt;color:red;">
				{$etitle}
			</div>
			<div style="width:100%;padding-left:575px;text-align:center;">
				<img id="eflag_show" src="__PUBLIC__/uploads{$eflag}" pathname="{$eflag}" width="309px" height="195px" style="margin:10px;" />
			</div>
		</div>

		<div style="clear:both;">
			{$econtent}
		</div>
		<?php if(session('?rrole')&&(session('rrole')==0||session('rrole')<25)){ ?>
		<div>
			<button type="button" class="btn btn-info btn-block" id="btn_modify">修改</button>
		</div>
		<?php } ?>
	</div>

</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#btn_modify').click(function(){
		window.location.href="__ROOT__/Home/Course/netcourse_edit?eid={$eid}#start";
	});
});
</script>