<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="course_right" pic2="course_book"  />


<style>
.pi_item{
	width:480px;
	float:left;
	margin-top: 15px;
	margin-right: 5px;
}
.pi_item_title,.pi_item_summary,.pi_item_by {
	margin-left: 5px;
	margin-right: 5px;
	font-style: normal;
}
.pi_item_title{
	font-size: 13pt;
	color:rgb(2,183,230);
}
.pi_item_summary{
	margin-top: 5px;
	margin-bottom: 5px;
}
.pi_item_by{
	float: right;color:rgb(2,183,230);
}
.pi_pages{
	clear:both;
	text-align:center;
	font-style: normal;
	font-size: 12pt;
	padding:50px; 
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="2,183,230" display0="inline-block" display1="block" display2="none"
	title0='虚拟学院' href0='__ROOT__/Home/Course' title1="公共资料" href1='__ROOT__/Home/Course/pi#start'  />
	<div style="margin:50px 25px;padding:0;">


		<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">公共资料</div>
		<div style="border-bottom:rgb(2,183,230) 2px solid;width:600px;"></div>
		<div class="pi_items">
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
			<div class="pi_item">
				<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共图片" style="float:left;width:114px;" width="114px" height="122px;" />
				<div class="pi_item_title">资料名称资料名称</div>
				<div class="pi_item_summary">
					简介说明：关于文件的一些说明情况，陈述文件的大概内容，不然学生不知道这个文件是干啥用的
				</div>
				<div class="pi_item_by"><span class="pi_item_college">南京大学 XXX</span>&nbsp;<span class="pi_item_time">2014-08-28</span></div>
			</div>
		</div>
		<div class="pi_pages">这里是分页</div>
	</div>
</div>


