<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="course_right" pic2="course_book"  />


<style>
.pi_item{
	width:480px;
	float:left;
	margin-top: 15px;
	margin-right: 5px;
}
.pi_item_title,.pi_item_summary,.pi_item_by {
	margin-left: 5px;
	margin-right: 5px;
	font-style: normal;
}
.pi_item_title{
	font-size: 13pt;
	color:rgb(2,183,230);
}
.pi_item_summary{
	margin-top: 5px;
	margin-bottom: 5px;
	word-wrap:break-word;
	padding-left:110px;
}
.pi_item_by{
	float: right;color:rgb(2,183,230);
}
.pi_pages{
	clear:both;
	text-align:center;
	font-style: normal;
	font-size: 12pt;
	padding:50px; 
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);font-style:normal;">
	<include file="./Application/Home/View/layout_banner.html" bgcolor="2,183,230" display0="inline-block" display1="block" display2="none"
	title0='虚拟学院' href0='__ROOT__/Home/Course' title1="公共资料" href1='__ROOT__/Home/Course/pi#start'  />
	<div style="margin:50px 25px;padding:0;">


		<div style="font-size:14pt;font-family:'Segoe UI';color:rgb(2,183,230);font-style:normal;margin-bottom:10px;">公共资料</div>
		<div style="border-bottom:rgb(2,183,230) 2px solid;width:600px;"></div>
		<div class="pi_items">
			<volist name="pi_list" id="pi_vo" key="k" >
				<div class="pi_item"
				<?php if($k%2){ ?>
					style="clear:both"
				<?php }?>
				>
					<img src="__PUBLIC__/assets/image/course_pi_item.png" title="公共课件" style="float:left;width:114px;" width="114px" height="122px;" />
					<div class="pi_item_title">
						<a href="__PUBLIC__/uploads{$pi_vo.epath}" style="color:black;text-decoration:underline;">
							{$pi_vo.etitle}
						</a>
					</div>
					<div class="pi_item_summary">
						{$pi_vo.econtent}
					</div>
					<div class="pi_item_by">
						<span><a href="__ROOT__/Home/Course/pi_edit?eid={$pi_vo.eid}#start">修改</a>&nbsp;&nbsp;</span>
						<span class="pi_item_college">{$pi_vo.euploader_college}&nbsp;{$pi_vo.euploader}</span>&nbsp;<span class="pi_item_time">{$pi_vo.elast_edited_time}</span>
					</div>
				</div>
			</volist>
		</div>
		<div class="pi_pages"></div>
		<div style="margin:20px 100px;">
			<button type="button" class="btn btn-info btn-block" id="btn_add">添加</button>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$('#btn_add').click(function(){
		window.location.href="__ROOT__/Home/Course/pi_edit#start";
	});
});
</script>