<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="course_right" pic2="course_book" />

<style>
#start {
	height:56px;background-color:rgb(2,183,230);
	color:white;font-size:16pt;font-family:'Segoe UI';
	padding:10px 15px;font-style:normal;
}
a,#start a{
	color:white;
}



.pl_book_sperator{
	margin-top: 8px;
	border-bottom:rgb(2,183,230) 2px solid;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div id="start" style="">
		<a href="index">虚拟学院</a> &gt; <a href="__ROOT__/Home/Course/pl?page=0#start">物理图书馆</a>
	</div>

	<div style="float:left;width:215px;">
		<img src="__PUBLIC__/assets/image/pl_banner_1.png" style="padding-left:24px;padding-top:116px;float:left;" />
		<img src="__PUBLIC__/assets/image/pl_banner_2.png" style="padding-top:477px;" />
	</div>
	<div style="padding-left:215px;margin:100px 50px 100px;">
		<div style="border-bottom:rgb(2,183,230) 4px solid;"></div>
		<div class="pl_book_item">
			<div style="height:260px;">
				<img src="__PUBLIC__/assets/image/course_book_a_brief_history_of_time.png" 
				width="173px" height="230px" style="float:left;margin:25px 20px 5px 0;" /> 
				<div class="pl_book_item_info" style="width:480px;font-style:normal;float:right">
					<div style="padding:30px 10px;font-size:14pt;fomnt-family:'Segoe UI';">《时间简史》作者：史蒂芬霍金</div>
					<div style="font-size:12pt;">&nbsp;&nbsp;&nbsp;&nbsp;自认“黑洞悖论”错误，在2004年7月，霍金修正了自己原来的观点，承认“信息守恒”。　因为宇宙论是一门既古老又年轻的学科。所以作为宇宙里高等生物的人类不会满足于自身的生存和种族的绵延，还一代代不懈地探索着存在和生命的意义。但是，人类理念的进化是极其缓慢和艰苦的。从“亚里士多德”到“托勒密的地心说”到“哥白尼－伽利略的日心说”的演化就花了2000年的时间。
						<div style="padding:5px;"><a href="http://baike.baidu.com/" style="color:blue;text-decoration:underline;">百度百科</a></div>
					</div>
				</div>
			</div>
			<div style="text-align:right;">
				<span style="font-style:normal;background-color:rgb(2,183,230);padding:10px 15px;margin-bottom:10px;">
					<a href="__ROOT__/Home/Course/download?eid=1" >下载电子版</a>
				</span>
			</div>
			<div class="pl_book_sperator"></div>
		</div>


		<div class="pl_book_item">
			<div style="height:260px;">
				<img src="__PUBLIC__/assets/image/course_book_the_theory_of_relativity.png" 
				width="173px" height="230px" style="float:left;margin:25px 20px 5px 0;" /> 
				<div class="pl_book_item_info" style="width:480px;font-style:normal;float:right">
					<div style="padding:30px 10px;font-size:14pt;fomnt-family:'Segoe UI';">《相对论》作者：爱因斯坦</div>
					<div style="font-size:12pt;">&nbsp;&nbsp;&nbsp;&nbsp;相对论是关于时空和引力的基本理论，主要由阿尔伯特·爱因斯坦(Albert Einstein)创立，依据研究的对象不同分为狭义相对论和广义相对论。相对论和量子力学的提出给物理学带来了革命性的变化，共同奠定了现代物理学的基础。相对论极大地改变了人类对宇宙和自然的“常识性”观念，提出了“同时相对性”、“四维时空”、“弯曲时空”等全新的概念。
						<div style="padding:5px;"><a href="http://baike.baidu.com/" style="color:blue;text-decoration:underline;">百度百科</a></div>
					</div>
				</div>
			</div>
			<div style="text-align:right;">
				<span style="font-style:normal;background-color:rgb(2,183,230);padding:10px 15px;margin-bottom:10px;">
					<a href="__ROOT__/Home/Course/download?eid=1" >下载电子版</a>
				</span>
			</div>
			<div class="pl_book_sperator"></div>
		</div>

	</div>

</div>
