<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />


<style type="text/css">
p{
	font-size:14pt;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="3" subtitle="高校" />
			<div class="plan_content" style="margin-top:45px;margin-bottom:100px;">
				<div>


<div style="margin-bottom:30px;">
<img src="__PUBLIC__/assets/image/plan_college_pku.png" style="float:right;margin:10px;" />
<p>
&emsp;&emsp;（1）北京大学：“元培学院”（原名：元培计划、元培计
划实验班），“元培学院”（北大）
</p>
<p>
&emsp;&emsp;北京大学已在数、理、化、生、计算机等基础学科专业人才创新培养建设项目，项目将通过考查学生综合能力、兴趣和发展潜质，将最优秀的学生选入培养计划。如北京大学物理学院决定选拔优秀本科生开设“未名物理学子班”。其目的是不断探索和完善素质教育培养机制，为年轻才俊迅速成长为国际一流的物理学家和各领域的领军人物打下坚实基础。而元培学院计划在未来几年内实现“自主设置专业”，学生按照自己的专业兴趣选择不同院系的特定课程，经审核通过后即可按照这一量身定做的培养计划完成学分，获得学位证书。北大曾经给一位学生专门开出一门课，这可谓真正的吃小灶。
</p>
</div>

<div style="margin-bottom:30px;">
<img src="__PUBLIC__/assets/image/plan_college_tsinghua.png" style="float:right;margin:10px;" />
<p>&emsp;&emsp;（2）清华大学</p>
<p>&emsp;&emsp;清华大学2009年开始实施清华学堂人才培养计划，实验班选拔各不相同，首批进入该计划的有4个项目：数学班、物理班，计算机科学班和钱学森力学班，预期还有化学班、生命科学班两个项目进入计划。这些实验班的入门选拔各不相同。钱学森力学班，采取高考录取+校内分流的申请体制；计算机班则施行“奥赛+校内二次测试”的方式选拔；报考数学、物理、化学实验班的学生，在经过相关教授考核后，也可直接就读；而生物班等重实验班则将统一在本科高段学生中选拔人才。</p>
</div>

</div>

<div style="margin-bottom:30px;">
<img src="__PUBLIC__/assets/image/plan_college_nju.png" style="float:right;margin:10px;" />
<p>&emsp;&emsp;(3)南京大学</p>
<p>&emsp;&emsp;“英才培育计划”，建立在“南京大学大理科人才培养模式”基础上的，但做出很多变革，对学生培养的优惠政策可谓前所未有，进入拔尖人才培养方案的学生会比“匡亚明学院”学生的选择权更大，教师队伍的组成也将有变革。借助这一计划，2010级新生有机会进入基础学科理科强化班及数学、物理、化学、生物、计算机等5个院系英才班享受“英才培育计划”。</p>
<p>&emsp;&emsp;在“大理科教学模式”基础上，南京大学实施“基础学科拔尖学生培养计划”（珠峰计划）方案，该方案是依托现有的“大理科”人才培养模式为基础，进一步革新课程体系，量身定做拔尖人才的个性化培养方案。南大将为入选培养计划的本科生实施个性化的课程培养体系，并提供条件支持；引进国际最新原版教材；本科阶段配备一对一的导师；提供更多的国外交流、学习机会以及相应的条件保证等。</p>
<p>&emsp;&emsp;据悉，该方案将从2009级新生起开始实施。该方案的推行将有利于构筑拔尖人才培养的绿色通道，全面推行研究性教学，计划在10到20年内为基础学科领域培养具有国际一流水平的未来领军人物和拔尖创新人才。</p>
</div>
       
				</div>
			</div>
		</div>
	</div>

</div>
