<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />



<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234)">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="3" subtitle="高校" />
			<div class="plan_content" style="margin-top:45px;">
				<div>


<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>




				</div>
			</div>
		</div>
	</div>

</div>
