<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="plan_right" pic2="plan_circle" />



<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234)">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="1" subtitle="起源" />
			<div class="plan_content" style="margin-top:45px;">
				<img src="__PUBLIC__/assets/image/plan_origin_1.png" style="float:right;margin-left:20px;margin-bottom:20px;" />
				<div>

<p>
“珠峰计划”即“基础学科拔尖学生培养试验计划”，是教育 
部为回应“钱学森之问”而出台的一项人才培养计划。所谓 
“钱学森之问”，就是“为什么我们的学校总是培养不出杰出 
人才？”这是一道关于中国教育事业发展的一道艰深命题。 
2005年，温家宝总理在看望著名物理学家钱学森时，钱老 
曾发出这样的感慨：回过头来看，这么多年培养的学生， 
还没有哪一个的学术成就，能跟民国时期培养的大师相比！ 
钱学森认为：“现在中国没有完全发展起来，一个重要原因 
是没有一所大学能够按照培养科学技术发明创造人才的模 
式去办学，没有自己独特的创新的东西，老是‘冒’不出杰出 
人才。”2009年10月31日，钱学森在北京逝世，享年98岁。
</p> 

<p>
2009年11月11日，安徽高校的11位教授联合《新安晚报》给新任教育部部长袁贵仁及全国教育界发出一封公开信：让我们直面“钱学森之问”！ 信件原文如下
</p> 
<p>
     尊敬的袁贵仁部长并全国教育界同仁： 
钱学森走了，又一颗巨星陨落了。我们深切缅怀钱老，缅怀他的科学精神和崇高人格，还有他的那句振聋发聩的疑问——“为什么我们的学校总是培养不出杰出人才？ ” 
</p>

<p>只有直面这个疑问，才能为目前中国教育存在之种种问题寻求真正的解决之道。 </p>
<p>“为什么我们的学校总是培养不出杰出人才？ ”面对前来探望的温家宝总理，钱学森多次提出这样一个刻骨铭心的疑问。我们认为，钱老的疑问，也是所有教育工作者的疑问，是社会各界对中国教育的疑问，是一个伟大民族必须直面的疑问。 </p>
<p>从1904年癸卯学制颁布、1905年废除科举至今，中国现代教育的发展已逾百年。从1977年重新恢复全国统一高考制度至今，中国当代教育的改革已经有30余年。应当说，积30余年来的发展和改革，我国的教育事业取得了巨大成就，为现代化建设提供了强劲的动力。但是，不能回避的是，今天的中国教育同样存在着许许多多让人痛心疾首的问题，有些问题甚至是深层次的。例如应试教育、学术腐败、论文抄袭等等，从某种意义上说，这些问题，正成为社会主义现代化建设进程难以突破的瓶颈。 </p>
<p>前不久，温家宝总理在一次讲话中说：“当前，我国教育改革和发展正处在关键时期。 ”“应该清醒地看到，我们的教育还不适应经济社会发展的要求，不适应国家对人才培养的要求。 ”温总理的感叹，源于对中国教育深层次问题的忧虑。缺乏人才长远规划的短视行为，以及由此产生的扭曲的考核评价和选拔机制，怎能催生“独立之精神、自由之思想”？怎能让创新之花盛开、创新之树常绿？</p>
<p>眼下，袁贵仁部长刚刚走马上任，《国家中长期教育改革和发展规划纲要》正在制订，这时候，我们需要一起来面对这个问题：“为什么我们的学校总是培养不出杰出人才？ ”我们一起来深思、来解题。 </p>
<p>我们坚信，不久的将来，我们一定能解开这道题，一定能找到一条光明的路，中国的杰出人才也会由此不断涌现。这一天的早日到来，便是对钱老最好的缅怀。 </p>
<p>此致</p>
<p>敬礼</p>
<p>沈正赋 芮必峰 胡荣华卞利 康建中 谢云章李正平 徐华李桂华 杨四平 吴玲 </p>
<p>2009年11月11日(排名不分先后)</p>

				</div>
			</div>
		</div>
	</div>

</div>
