<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="plan_right" pic2="plan_circle" />

<style>
.plan_item{

}
.plan_item_title{
	text-align:center;font-size:16pt;font-family:'黑体';color:rgb(35,17,103);margin:5px;
}
.plan_item_content{

}
.plan_item_read_all{
	text-align:right;font-size:14pt;color:blue;
}
.plan_item_bottom_bar{
	border-bottom-color:rgb(35,17,103);width:620px;border-bottom-width:2px;border-bottom-style:solid;clear:both;
	margin:30px 0;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="5" subtitle="成果" />
			<div class="plan_content" style="margin-top:45px;">


<div class="plan_list">

<volist name="project_list" id="project_vo" key="k">
<div class="plan_item">
	<img src="__PUBLIC__/uploads{$project_vo.zflag}" style="float:right;margin:10px;" width="200px" height="200px"/>
	<div class="plan_item_title">{$project_vo.ztitle}</div>
	<div class="plan_item_content" >
		<?php echo htmlspecialchars_decode($project_vo['zsummary'],ENT_QUOTES); ?>
	</div>
	<div class="plan_item_read_all">
		<?php if(session('?rrole')&&(session('rrole')==0||session('rrole')<25)){ ?>
		<a href="__ROOT__/Home/Plan/project_dtl?op_edit=1&zid={$project_vo.zid}#plan_title_span">编辑</a>&nbsp;&nbsp;
		<a href="javascript:void(0);" onclick="project_delete({$project_vo.zid})">删除</a>&nbsp;&nbsp;
		<?php } ?>
		<a href="__ROOT__/Home/Plan/project_dtl?zid={$project_vo.zid}#plan_title_span" >阅读全文</a>
	</div>
	<div class="plan_item_bottom_bar" style="">
	</div>
</div>
</volist>

</div>


<div style="text-align:left;margin:30px;">
<!--这里是翻页-->
</div>
<?php if(session('?rrole')&&(session('rrole')==0||session('rrole')<25)){ ?>
<div style="text-align:left">
<include file="./Application/Home/View/control_btn.html"
	 id="btn_add" onclick="project_add()" text="添加" />

</div>
<?php } ?>
<script>
function project_delete(zid){
	if(!confirm('你确定要删除此项成果吗？')) return;
	var url = '__ROOT__/Home/Plan/project_delete';
	$.ajax({
		url:url,
		type:'post',
		data:{zid:zid},
		dataType:'json',
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('删除成功！',function(){
					window.location.reload()
				});
			} else {
				cdialog.show_alert('删除失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
$(document).ready(function(){
	$('#btn_add').click(function(){
		window.location.href="__ROOT__/Home/Plan/project_dtl?op_edit=1&zid=-1";
	});
});
</script>

			</div>
		</div>
	</div>

</div>
