<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />



<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234)">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="5" subtitle="成果" />
			<div class="plan_content" style="margin-top:45px;">
				<div>

<div class="plan_title" style="margin:30px 10px;text-align:center;color:rgb(35,17,103);font-size:16pt;">
标题：XX学生研究出什么成果之类的
</div>

<div class="plan_content">
	主要写一些拔尖计划里面学生的研究成果、获奖情况，出国留学取得的成绩，在后续的职业生涯中对物理学科做出的贡献，获得的荣誉。会附有一张图片，内容的展示和新闻稿差不多，会对学生的荣誉和学生个人做一些解读（暂时找不到相关内容）整体的内容格式和新闻差不多
</div>



				</div>
			</div>
		</div>
	</div>

</div>
