<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />



<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234)">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="5" subtitle="成果" />


			<div class="plan_content" style="margin-top:45px;">
				<div style="margin:30px 10px;">

					<?php if($edit == 0){ ?>
						<div class="plan_title" style="text-align:center;color:rgb(35,17,103);font-size:16pt;">
							{$ztitle}
						</div>
						<div class="plan_content"  style="margin:20px 30px;">
							{$zcontent}
						</div>

						<div>
							<button type="button" class="btn btn-info btn-block" id="btn_edit" onclick="project_modify({$zid});">
								修改
							</button>
						</div>
<script type="text/javascript">
function project_modify(zid){
	window.location.href="__ROOT__/Home/Plan/project_dtl?zid="+zid+"&op_edit=1";
}
$(document).ready(function(){
	//$('#btn_edit').click(function(){});
});
</script>
					<?php } else { ?>
<link rel="stylesheet" href="__PUBLIC__/kindeditor-4.1.10/themes/default/default.css" />
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/kindeditor-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/kindeditor-4.1.10/lang/zh_CN.js"></script>

						<div class="plan_title" style="text-align:left;color:rgb(35,17,103);font-size:16pt;">
							标题：
						</div>
						<div class="plan_title" style="text-align:center;color:rgb(35,17,103);font-size:16pt;">
							<input type="hidden" id="zid" value="{$zid}" />
							<input type="text" id="ztitle" class="form-control" placeholder="title input" value="{$ztitle}" />
						</div>
						<div class="plan_title" style="text-align:left;color:rgb(35,17,103);font-size:16pt;">
							封面：
						</div>
						<div class="plan_title" style="text-align:left;color:rgb(35,17,103);font-size:16pt;">
							<?php if($zflag != '') { ?>
								<img id="zflag_show" src="__PUBLIC__/uploads/{$zflag}" width="200px" height="200px" style="margin:10px;" />
							<?php } ?>
							<form name="form" action="" method="POST" enctype="multipart/form-data">
								<input type="file" size="45"  id="zflag" name="zflag" class="form-control" placeholder="title input" value="{$zflag}" />
							</form>
						</div>
						<div class="plan_title" style="margin-top:20px;text-align:left;color:rgb(35,17,103);font-size:16pt;">
							内容：
						</div>
						<div class="plan_content">
							<textarea name="zcontent" class="form-control" style="width:100%;height:200px;visibility:hidden;">{$zcontent}</textarea>
						</div>
						<button type="button" class="btn btn-info btn-block" id="btn_save">暂存</button>
						<button type="button" class="btn btn-info btn-block" id="btn_release">发布</button>

<script type="text/javascript">
var editor;
KindEditor.ready(function(K) {
	editor = K.create('textarea[name="zcontent"]', {
		resizeType : 1,
		allowPreviewEmoticons : true,
		allowImageUpload : true,
		autoHeightMode : true,
		allowFileManager: true,
		afterCreate : function() {
			this.loadPlugin('autoheight');
		},
		items : [
			'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
			'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
			'insertunorderedlist', '|', 'emoticons', 'image', 'link']
	});
});
function zsave(url,path,release){
	$.ajax({
		url:url,
		dataType:'json',
		type:'post',
		data:{
			zid:$('#zid').val(),
			ztitle:$('#ztitle').val(),
			zflag:path,
			zsummary:editor.text().substr(0,150),
			release:release,
			zcontent:editor.html()
		},
		success:function(t,s,r){
			if(t.result==0){
				cdialog.show_info('操作成功！',function(){
					window.location.href="__ROOT__/Home/Plan/project";
				});
			}else {
				cdialog.show_alert('操作失败！错误消息:'+t.msg);
			}
			$('#btn_save').attr('disabled',false);
			$('#btn_release').attr('disabled',false);
		},
		error:function(t){
			eds_framework.error_handler(url,t);
			$('#btn_save').attr('disabled',false);
			$('#btn_release').attr('disabled',false);
		}
	});
}
function zsave_or_release(release){
	var url = '__ROOT__/Home/Plan/project_save';
	if(release == 1){
		url = '__ROOT__/Home/Plan/project_release';
	}
	$('#btn_save').attr('disabled',true);
	$('#btn_release').attr('disabled',true);

	if($('#zflag').val().length == 0){
		zsave(url, '',release);
		return;
	}
	$.ajaxFileUpload({
		url:'__ROOT__/Home/Plan/project_dtl_img',
		secureuri:false,
		fileElementId:'zflag',
		dataType: 'json',
		data:{},
		success: function (data, status){
			if(data.result == 0){
				//alert('保存图片成功！图片信息为'+data.msg+'\nkey='+data.key+'\npath='+(data.savepath+data.savename)+'');
				zsave(url,data.savepath+data.savename,release);
				$('#zflag_show').attr('src', '__PUBLIC__/uploads'+data.savepath+data.savename);
			} else {
				cdialog.show_alert('保存失败！错误信息：'+data.msg);
				$('#btn_save').attr('disabled',false);
				$('#btn_release').attr('disabled',false);
			}
		},
		error: function (data, status, e){
			cdialog.show_alert(e);
		}
	});
}
$(document).ready(function(){
	$('#btn_save').click(function(){zsave_or_release(0);});
	$('#btn_release').click(function(){zsave_or_release(1);});
});
</script>

					<?php } ?>

				</div>
			</div>


		</div>
	</div>

</div>
