<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />

<style>
.plan_item{

}
.plan_item_title{
	text-align:center;font-size:16pt;font-family:'黑体';color:rgb(35,17,103);margin:5px;
}
.plan_item_content{

}
.plan_item_read_all{
	text-align:right;font-size:14pt;color:blue;
}
.plan_item_bottom_bar{
	border-bottom-color:rgb(35,17,103);width:620px;border-bottom-width:2px;border-bottom-style:solid;clear:both;
	margin:30px 0;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234)">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="5" subtitle="成果" />
			<div class="plan_content" style="margin-top:45px;">


<div>
<div class="plan_item">
	<img src="__PUBLIC__/assets/image/plan_project_item_flag.png" style="float:right;"/>
	<div class="plan_item_title">标题：XX学生研究出什么成果之类的</div>
	<div class="plan_item_content" >
		<p>主要写一些拔尖计划里面学生的研究成果、获奖情况，出国留学取得的成绩，在后续的职业生涯中对物理学科做出的贡献，获得的荣誉。会附有一张图片，内容的展示和新闻稿差不多，会对学生的荣誉和学生个人做一些解读（暂时找不到相关内容</p>
	</div>
	<div class="plan_item_read_all">
		<a href="__ROOT__/Home/Plan/project_detail?zid=1#plan_title_span" >阅读全文</a>
	</div>
	<div class="plan_item_bottom_bar" style="">
	</div>
</div>
<div class="plan_item">
	<img src="__PUBLIC__/assets/image/plan_project_item_flag.png" style="float:right;"/>
	<div class="plan_item_title">标题：XX学生研究出什么成果之类的</div>
	<div class="plan_item_content" >
		<p>主要写一些拔尖计划里面学生的研究成果、获奖情况，出国留学取得的成绩，在后续的职业生涯中对物理学科做出的贡献，获得的荣誉。会附有一张图片，内容的展示和新闻稿差不多，会对学生的荣誉和学生个人做一些解读（暂时找不到相关内容</p>
	</div>
	<div class="plan_item_read_all">
		<a href="__ROOT__/Home/Plan/project_detail?zid=1#plan_title_span" >阅读全文</a>
	</div>
	<div class="plan_item_bottom_bar" style="">
	</div>
</div>
<div class="plan_item">
	<img src="__PUBLIC__/assets/image/plan_project_item_flag.png" style="float:right;"/>
	<div class="plan_item_title">标题：XX学生研究出什么成果之类的</div>
	<div class="plan_item_content" >
		<p>主要写一些拔尖计划里面学生的研究成果、获奖情况，出国留学取得的成绩，在后续的职业生涯中对物理学科做出的贡献，获得的荣誉。会附有一张图片，内容的展示和新闻稿差不多，会对学生的荣誉和学生个人做一些解读（暂时找不到相关内容</p>
	</div>
	<div class="plan_item_read_all">
		<a href="__ROOT__/Home/Plan/project_detail?zid=1#plan_title_span" >阅读全文</a>
	</div>
	<div class="plan_item_bottom_bar" style="">
	</div>
</div>
</div>


<div style="text-align:left">
这里是翻页
</div>
			</div>
		</div>
	</div>

</div>
