<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="plan_right" pic2="plan_circle" />

<style type="text/css">
p{
	font-size:14pt;
}
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);width:1024px;">
	<include file="./Application/Home/View/Plan/menu.html"  />

	<div style="width:1024px;padding-left:219px;font-style:normal">
		<div style="margin:20px">
			<include file="./Application/Home/View/Plan/title.html" no="4" subtitle="改革" />
			<div class="plan_content" style="margin-top:45px;margin-bottom:100px;">
				<div>


<img src="__PUBLIC__/assets/image/plan_reform_1.png" style="float:right;margin:20px;" />
<p>&emsp;&emsp;教育部高等教育司司长张大良2010年3月2日表示，教育部门2009年对基础学科的拔尖创新人才培养做了筹备工作，已经选择清华大学、北京大学等十多所大学的数、理、化、计算机、生五个学科率先进行试点，想在创新人才培养方面有所突破。教育部2日举行2010年第3次新闻发布会，请参与《规划纲要》起草工作的专家解读有关高等教育的内容，张大良在会上作以上表示。</p>
<p>&emsp;&emsp;张大良指出，十多年来，一批高水平大学不断探索培养拔尖创新人才，进行了很多很好的有益尝试，比如北京大学的元培计划，清华大学的清华学堂，他们在这方面也取得了一定的经验。他表示，拔尖创新人才培养应该是多样化的，要在原有积累经验的基础上继续进行探索，因为涉及到人才培养模式、课程体系、教学内容、教学方法手段等方面的深化改革。所以，高等教育发展的大形势下，应该要很好地抓住高等教育质量提升工程这个有利时机。张大良表示，在《国家中长期教育改革和发展规划纲要》制定原则的过程当中，教育部门对基础学科的拔尖创新人才培养做了筹备工作，已经选择清华大学、北京大学等十多所大学的数、理、化、计算机、生五个学科率先进行试点，想在创新人才培养方面有所突破。他表示，拔尖创新人才的培养是一项系统工程，需要社会、家庭、学校、用人部门，包括新闻媒体的大力支持，要营造拔尖创新人才脱颖而出的良好氛围和政策机制。其中，政策方面，主要是在如下七个方面来抓改革：</p>
<p>&emsp;&emsp;一、在学生的遴选方面，注重考察学生的综合能力，学生的兴趣和发展的潜质，实行动态统筹机制、自由选择专业的机制，将最优秀的学生选入到培养计划当中。</p>
<p>&emsp;&emsp;二、教师的配备，要安排高水平的专家学者来担任专业的导师和授课老师，聘请海外知名学者主持和参与教学。</p>
<p>&emsp;&emsp;三、培养模式，要突出个性化的培养，积极开展教学理念、模式、内容和方法的改革，让学生有自由探索的时间和空间，鼓励学生自主的学习，参加科学研究的项目训练，培养他们的科研兴趣，从而使他们的志向更加远大，心态也要是平和的，德才兼备，成为未来的一流的学者和世界一流的科学家。</p>
<p>&emsp;&emsp;四、营造氛围，要通过世界级的科学家的访问、高水平学术报告等等形式，来营造浓厚的学术氛围和开放的平等交流的氛围，激发学生的求知欲和创新的愿望。</p>
<p>&emsp;&emsp;五、制度上要创新，学生管理实行导师制和班级管理相结合，制定灵活的课程选修、免修、缓修等等制度。</p>
<p>&emsp;&emsp;六、条件方面的支持，国家重点实验室、开放实验室、国家试验教学试验中心等等，都要向参与这个计划的学生开放，并为学生创新活动提供专门的支持，经费的支持、条件的支持、空间的支持。</p>
<p>&emsp;&emsp;七、国际合作，通过联合培养暑期学校短期考察等方式，分期分批将学生送到国外一流大学学习和交流，鼓励学生利用国外的条件开展科学研究工作，尽快地融入学科领域或者是国际一流的科学家的群体当中去。</p>

				</div>
			</div>
		</div>
	</div>

</div>
