<div style="text-align:center;font-size:24pt;font-family:黑体;margin:10px 0;">
	<span id="plan_title_span">基础学科拔尖学生培养试验计划</span>
</div>
<div style="width:600px;margin-top:50px;" class="plan_sub_title">
	<div style="float:left;line-height:37px;background-color:rgb(35,17,103);width:38px;text-align:center;color:white;font-size:14pt;">
		[no]
	</div>
	<div class="plan_title_text" style="line-height:35px;border-bottom-width:2px;border-bottom-color:rgb(35,17,103);border-bottom-style:solid;font-size:16pt;color:rgb(35,17,103);padding-left:53px;">
		[subtitle]
	</div>
</div>