<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="ex_right" pic2="ex_change" />



<div class="container" style="padding-left:0px;padding-right:0px;font-style:normal;width:1024px;height:300px;">
	<div style="width:655px;margin-right:36px;float:left;background-color:rgb(234,234,234);">
		<div style="padding-top:10px;">
			<span style="font-family:'黑体';font-size:14pt;color:#007768;">交流札记</span>
			<span style="font-family:'黑体';font-size:14pt;color:#007768;float:right">更多</span>
			<div style="border-bottom:solid 7px #007768;"></div>
		</div>
		<include file="./Application/Home/View/waiting.html" />
	</div>
	<div style="width:333px;background-color:rgb(234,234,234);margin-left:691px;margin-bottom:10px;">
		<div style="padding-top:10px;">
			<span style="font-family:'黑体';font-size:14pt;color:#6D0E6A;">留学动态</span>
			<span style="font-family:'黑体';font-size:14pt;color:#6D0E6A;float:right">更多</span>
			<div style="border-bottom:solid 7px #6D0E6A;"></div>
		</div>
		<include file="./Application/Home/View/waiting.html" />
	</div>
	<div style="width:333px;background-color:rgb(234,234,234);margin-left:691px;">
		<div style="padding-top:10px;">
			<span style="font-family:'黑体';font-size:14pt;color:#C51F00;">交换项目</span>
			<span style="font-family:'黑体';font-size:14pt;color:#C51F00;float:right">更多</span>
			<div style="border-bottom:solid 7px #C51F00;"></div>
		</div>
		<include file="./Application/Home/View/waiting.html" />
	</div>
</div>
