<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome4.html" />

<style>
</style>

<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<div id="start" style="height:56px;background-color:rgb(104,165,61);color:white;font-size:16pt;font-family:'Segoe UI';padding:10px 15px;">
		公告通知 > 
	</div>
	<div style="padding:100px;">
		<div class="notice_title" style="text-align:center;margin-bottom:20px;">{$ztitle}</div>
		<div class="notice_by" style="text-align:center;margin:10px 0px 10px;">
			作者：北京航空航天大学&nbsp;&nbsp;{$zreleased_time}
		</div>
		<div class="notice_content" style="width:824px;padding:20px 0;">
			{$zcontent}
		</div>
		<div>
			<button type="button" class="btn btn-info btn-block" id="btn_add" onclick="notice_modify({$zid})">修改</button>
		</div>
	</div>
</div>
<script type="text/javascript">
function notice_modify(zid){
	window.location.href="__ROOT__/Home/Notice/edit?zid="+zid;
}
</script>
