<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome2.html" pic1="notice_right" pic2="notice_talk" />

<style>
.notice_title{
	color:rgb(36,17,127);
	font-size:14pt;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin:20px;
}
.notice_summary, .notice_by{
	font-style: normal;
	font-size:12pt;
	font-family: 'Segoe UI';
}
.notice_by{
	text-align: right;
	margin:10px 20px 10px 0;
}

</style>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<include file="./Application/Home/View/Notice/left.html" />

	<div class="notice_main" style="width:1024px;padding:40px 90px 0px 300px;margin-top:20px;">
		<div class="notice_item">
			<div class="notice_title">
				南京大学2013年物理学院拔尖选拔结果
			</div>
			<div class="notice_summary">
				经过笔试、面试，并综合高考成绩（参考），物理学院初步遴选以下30位同学进入拔尖计划。请名单中各位同学于明天（9月15日）中午12:00在仙林校区教学楼仙II-217签名确认（带校园卡）。今天不需要在网上审核确认。&nbsp;&nbsp;&nbsp;&nbsp;
				<span>
					<a href="__ROOT__/Home/Notice/detail?zid=1#start" />查看全文</a>
				</span>
			</div>
			<div class="notice_by">
				作者：南京大学&nbsp;&nbsp;&nbsp;&nbsp;2013-10-01
			</div>
			<div class="notice_bar">
			</div>
		</div>

		<div class="notice_item">
			<div class="notice_title">
				“基础学科拔尖学生培养试验计划”阶段性总结交流会将在清华举行
			</div>
			<div class="notice_summary">
				 “基础学科拔尖学生培养试验计划”（以下简称“拔尖计划”）阶段性总结交流会在主楼接待厅举行。时间定在9月26号，欢迎参加拔尖计划的各校老师莅临指导。 &nbsp;&nbsp;&nbsp;&nbsp;<span>
					<a href="__ROOT__/Home/Notice/detail?zid=1#start" />查看全文</a>
				</span>
			</div>
			<div class="notice_by">
				作者：清华大学&nbsp;&nbsp;&nbsp;&nbsp;2013-10-01
			</div>
			<div class="notice_bar">
			</div>
		</div>
		<div style="text-align:center;font-style:normal;margin:20px;">这里是分页</div>
	</div>
</div>
