<layout name="layout" replace="{__REEPLACE__}" />


<include file="./Application/Home/View/welcome_picmotto.html" pic1="notice_right" pic2="notice_talk" />

<style>
.notice_title{
	color:rgb(36,17,127);
	font-size:14pt;
	font-family: 'Segoe UI';
	font-weight: bold;
	font-style: normal;
	text-align: center;
	margin:20px;
}
.notice_summary, .notice_by{
	font-style: normal;
	font-size:12pt;
	font-family: 'Segoe UI';
}
.notice_by{
	text-align: right;
	margin:10px 20px 10px 0;
}

</style>


<div class="container" style="padding-left:0px;padding-right:0px;background-color:rgb(234,234,234);">
	<include file="./Application/Home/View/Notice/left.html" />

	<div class="notice_main" style="width:1024px;padding:40px 90px 0px 300px;margin-top:20px;">

		<volist name="notice_list" id="notice_vo" key="k" >
			<div class="notice_item">
				<div class="notice_title">
					{$notice_vo.ztitle}
				</div>
				<div class="notice_summary">
					{$notice_vo.zsummary}&nbsp;&nbsp;&nbsp;&nbsp;
					<span>
						<?php if(session('rrole')==0||session('rrole')&&session('rrole')<25){ ?>
						<a href="__ROOT__/Home/Notice/edit?zid={$notice_vo.zid}#start" />编辑</a>&nbsp;&nbsp;
						<a href="javascript:void(0);"  onclick="notice_delete({$notice_vo.zid})"/>删除</a>&nbsp;&nbsp;
						<?php } ?>
						<a href="__ROOT__/Home/Notice/detail?zid={$notice_vo.zid}#start" />查看全文</a>
					</span>
				</div>
				<div class="notice_by">
					作者：南京大学&nbsp;&nbsp;&nbsp;&nbsp;{$notice_vo.zreleased_time}
				</div>
				<div class="notice_bar">
				</div>
			</div>
	</volist>
		
		<div style="text-align:center;font-style:normal;margin:20px;"></div>
		<div style="font-style:normal;margin:20px;">
			<?php if(session('rrole')==0||session('rrole')&&session('rrole')<25){ ?>
			<button type="button" class="btn btn-info btn-block" id="btn_add" onclick="notice_add()">添加</button>
			<?php } ?>
		</div>
	</div>
</div>
<script type="text/javascript">
function notice_add(){
	window.location.href="__ROOT__/Home/Notice/edit?zid=-1";
}
function notice_delete(zid){
	if(!confirm('你确定要删除此通知吗？')) return;
	var url = '__ROOT__/Home/Notice/delete';
	$.ajax({
		url:url,
		type:'post',
		data:{zid:zid},
		dataType:'json',
		success:function(t,s,r){
			if(t.result == 0){
				cdialog.show_info('删除成功！',function(){
					window.location.reload()
				});
			} else {
				cdialog.show_alert('删除失败！错误信息：'+t.msg);
			}
		},
		error:function(t){eds_framework.error_handler(url,t);}
	});
}
</script>