
<style>
.notice_bar{
	margin: 10px 0;
	border-bottom: rgb(35,17,103) solid 2px;
}
.notice_display{
	font-style: normal;
	font-size: 16pt;
	color:rgb(35,17,103);
	margin: 40px 0 0 10px;
	padding: 0 0 7px 30px;
}
</style>

<div class="notice_left" style="width:210px;float:left;">
	<div class="notice_display">公告通知</div>
	<div class="notice_bar" style="margin:0 0 0 10px;"></div>
	<img src="__PUBLIC__/assets/image/notice_banner_1.png" style="margin-top:100px;margin-left:10px;float:left" />
	<img src="__PUBLIC__/assets/image/notice_banner_2.png" style="margin-top:400px;margin-left:0px;margin-bottom:50px;" />
</div>